.about-service {
  border-radius: 0 25px;

  padding-top: 12px;
  background: url("../img/about-mobile@1x.png") no-repeat top 84px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/about-tablet@1x.png");
    background-position: 100% -210%;
  }
}

.about-service__description {
  margin-left: 24px;
  margin-bottom: 90px;
  width: 210px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 309px;
    font-size: 28px;
    line-height: (33 /28);
  }
}
