.about-service {
  padding-top: 37px;
  background: #192144 url("../img/about-mobile@1x.png") no-repeat;
}

.about-service__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
