.about-service {
  position: relative;
  z-index: 6;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px 25px;
  background: url("../img/about-mobile@1x.png") no-repeat top 84px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/about-mobile@2x.png") no-repeat top 84px;
    background-size: 292px 352px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    background: url("../img/about-tablet@1x.png") no-repeat;
    background-position: 97% 73%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 110px;
    background: url("../img/about-desktop@1x.png") no-repeat;
    background-position: 100% 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
      background-size: 630px 665px;
    }
  }
}

.about-service__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 60px;
  }
}

.about-service__description {
  margin-left: 24px;
  margin-bottom: 90px;
  width: 210px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 52px;
    width: 309px;
    font-size: 28px;
    line-height: (33 /28);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.about-service__description--thesis {
  @media (min-width: $desktop-width) {
    width: 619px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: (34 /28);
  }
}

.about-service__description--tagline {
  @media (min-width: $desktop-width) {
    width: 425px;
    font-size: 21px;
    font-weight: bold;
    line-height: (24 / 21);
  }
}

.about-service__link {
  position: relative;
  display: none;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  background-color: $basic-yellow;
  color: $basic-blue-light;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 29px 32px;
    width: 276px;
    border-radius: 20px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 130px 22px 22px;
    border-radius: 10px;
    margin-left: 14px;
    text-transform: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 10%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;
  }
}
