.add-plan {
  position: relative;
  z-index: 5;
  background-color: #d4d9eb;
  color: $basic-blue-light;
  margin-top: -80px;
  border-radius: 20px 20px 0 0;
  padding-bottom: 71px;

  @media (min-width: $tablet-width) {
    z-index: 2;
    border-radius: 30px 30px 0 0;
    padding: 10px 60px 80px 60px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 30px 30px 0 0;
    padding: 10px 60px;
  }
}

.add-plan__container {
  padding: 0 12px;
}

.add-plan__title {
  position: relative;
  padding: 26px;
  margin-bottom: 6px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 13%;
    width: 47px;
    height: 5px;
    background: url("../img/dots-mobile.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 76px;
      height: 6px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 28px;
    padding: 24px 15px;
  }
}

.add-plan__calendar {
  list-style: none;
}

.add-plan__filters {
  padding: 0 24px 0 24px;

  
  @media (min-width: $tablet-width) {
    padding: 0 15px 0 18px;
  }
}
