.add-plan {
  background-color: rgb(223, 227, 240);
  color: $basic-blue;
}

.plan-filters__wrapper {
  background-color: $basic-white;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 25px;
}

.plan-filters__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
}

.plan-filters__list {
  display: none;
}

.plans-filters__input {
  position: relative;
  width: 100%;
}

.plans-filter__toggle {
  position: absolute;
}

.plan-filters__checkbox .plan-filters__checkbox-indicator {
  background: $basic-white;
  width: 10px;
  height: 10px;
}

.plan-filters__checkbox:checked .plan-filters__checkbox-indicator {
  background: url("../img/tick.svg") no-repeat;
  width: 10px;
  height: 10px;
}

.plan-filters__select {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 20px;
}

.plan-filters__head {
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  color: $basic-blue;
}

.plan-filters__head--add {
  position: relative;
}

.plan-filters__button {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 12px;
  background: url("../img/month-arrow-left.svg") no-repeat;
  transform: rotate(-90deg);
  opacity: 0.3;
  border: none;
  right: 61px;
  top: 30%;
}

.plan-filters__select-flag {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.plan-filters__select-btn-close {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -2px;
  z-index: 1;
  width: 21px;
  height: 21px;
  border: 0;
  border-radius: 50%;
  background: #edeff6 url("../img/small-cross.svg") no-repeat;
  background-size: 6px;
  background-position: 50%;
  cursor: pointer;
}

.plan-filters__btn {
  display: block;
  margin-bottom: 10px;
}

.plan-filters__comment-label {
  font-weight: 500;
font-size: 18px;
line-height: 1;
color: $basic-blue-light;
}

.plan-filters__comment {
  width: 100%;
  height: 220px;

  &::placeholder {
    font-size: 16px;
    line-height: (22 / 16);
    padding: 10px 14px;
    opacity: 0.3;
  }
}

.plan-filters__comment--last {
  width: 100%;
  height: 220px;

  &::placeholder {
    font-size: 16px;
    line-height: (22 / 16);
    padding: 10px 14px;
    color: $special_grey;
  }
}
.plan-filters__btn-submit {
  border:none;
  font-weight: bold;
}

.plan-filters__btn {
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-blue;
  font-size: 17px;
line-height: (30 / 17) ;
text-align: center;
}
