.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: -25px;
  padding: 45px 25px 34px;
  position: relative;
  background: $basic-yellow;

  @media (min-width: $tablet-width) {
    margin-top: -49px;
    padding: 140px 75px 84px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 117px 300px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}


.address__contacts {
  position: relative;
  margin-bottom: 32px;
  width: 143px;
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    width: auto;

    margin-bottom: 62px;
    text-align: center;

    font-size: 28px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right:20px;

  }

  &::before {
    position: absolute;
    content: "";
    top: -12px;
    left: -60px;
    width: 45px;
    height: 45px;
    background: #121936 url("../img/contacts-location.svg") center no-repeat;
    background-size: 18px;
    border-radius: 50%;

    @media(min-width: $desktop-width) {
      width: 90px;
    height: 90px;
    margin-right: 31px;
    background-size: 28px;
     left: -110px;
     top: -20px;
    }
  }
}

.address__way-to {
  position: relative;
  padding: 19px 60px 19px 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;
  border: 3px solid $basic-medium-blue;
  border-radius: 20px;

  &:hover {
    background-color: $basic-medium-blue;
    color: $basic-white;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    padding-right: 358px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 42px 28px 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;
  }
}
