.address {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 25px 25px;
  margin-top: -14px;
  padding: 45px 25px 35px;
  position: relative;
  background: $basic-yellow;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    padding: 111px 75px 84px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 140px 30px 398px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.address__contacts {
  position: relative;
  margin-bottom: 33px;
  width: 143px;
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    width: auto;

    margin-bottom: 64px;
    text-align: center;

    font-size: 28px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -65px;
    width: 45px;
    height: 45px;
    background: #121936 url("../img/contacts-location.svg") center no-repeat;
    background-size: 18px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -18px;
      left: -94px;
      background-size: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
      height: 90px;
      margin-right: 31px;
      background-size: 28px;
      left: -110px;
      top: -20px;
    }
  }
}

.address__way-to {
  position: relative;
  padding: 20px 24px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;
  text-align: left;
  border: 3px solid $basic-medium-blue;
  border-radius: 10px;

  &:hover {
    background-color: $basic-medium-blue;
    color: $basic-white;

  }

  &:active {
    color: rgba($basic-white, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    padding-bottom:30px;
    padding-right: 358px;
border-radius: 20px;

  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 27px 65px 28px 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;
  }
}
