.alphabet {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 496px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 34px;
    width: auto;
  }
}

.alphabet__wrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 40px;
    margin-bottom: 15px;
    width: 210px;
  }

  &--current {
    @media (min-width: $desktop-width) {
      margin-right: 45px;
    }
  }

  &--empty {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--m {
    @media (min-width: $desktop-width) {
      margin-bottom: 41px;
    }
  }
}

.alphabet__wrapper--current .alphabet__title {
  color: $basic-white;
  background-color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    background: none;
    color: $basic-blue;
    opacity: 1;
  }
}

.alphabet__wrapper--current .alphabet__list {
  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    right: 100px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.alphabet__list {
  @include no-list;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.alphabet__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue;
  width: 44px;
  height: 41px;
  border: 1px solid $light-grey;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 45px;
    width: 75px;
    height: 85px;
    background: none;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    margin: 25px 0 22px -19px;
    font-weight: bold;
    font-size: 60px;
    opacity: 1;
  }
}

.alphabet__link {
  font-size: 20px;
  line-height: (30 / 20);
  color: $special-grey;
  text-decoration: none;
}
