.btn-back {
  margin-left: -11px;
  color: $basic-blue-light;
  font-size: 17px;
  font-weight: bold;
  line-height: (30 / 17);
  text-align: center;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    text-transform: none;
    font-size: 24px;
    line-height: 22px;
    margin-left: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -12px;
    margin-right: 11px;
  }

  &::before {
    display: none;
    position: absolute;
    content: "";
    top: 30%;
    left: 10%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-left.svg") no-repeat;

    @media (min-width: $tablet-width) {
      display: flex;
      width: 14px;
      height: 13px;
      left: 32%;
      top: 5px;
    }

    @media (min-width: $desktop-width) {
    left: 32%;
    top: 4px;
  }
}
}
