.btn-text {
  align-items: center;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  &--main {
    margin: 0;
    text-align: left;
  }

  &--form {
    font-size: 17px;
    line-height: (30 / 17);
    margin: 0;
    margin-left: 20px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 1;
    }
  }
}
