.btn {
  position: relative;
  width: 230px;
  padding: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;
  text-transform: uppercase;
  background: $basic-yellow;
  border-radius: 20px;

  &::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 10%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 14px;
      right: 5%;
    }
  }

  &:hover {
    background: #ffbd30;
  }

  &:active {
    background-color: $special-yellow-dark;
    color: rgba($basic-blue-light, 0.3);
  }
}
