.btn {
  width: 230px;
  padding: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;
  text-transform: uppercase;
  background: $basic-yellow;
  border-radius: 20px;


  &:hover {
    background: #ffbd30;
  }

  &:active {
    background-color: $special-yellow-dark;
    color: rgba($basic-blue-light, 0.3);
  }
}
