.btn {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 23px;
  width: 270px;
  height: 62px;
  background: $basic-yellow;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    border-radius: 10px;
    font-size: 24px;
    line-height: 24px;
    width: 280px;
    height: 80px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 38%;
    right: 7%;
    width: 14px;
    height: 13px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;

    @media (min-width: $tablet-width) {
      right: 14%;
    }
  }

  &:hover {
    background: #ffbd30;
  }

  &:active {
    background-color: $special-yellow-dark;
    color: rgba($basic-blue-light, 0.3);
  }
}

.btn-text {
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
