.business__offer {
  background: #e6e8f1;
}

.business-offer__title {
  padding-top: 60px;
}

.business-offer__list-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  color: $special-grey;
}

.business-offer__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #132576;
  text-decoration: none;
}
