.business-offer {
  margin-top: -30px;
  position: relative;
  z-index: 3;
  border-radius: 0 0 25px 25px;
  padding-bottom: 40px;
  padding-top: 46px;
  background-color: #e6e8f1;

  @media (min-width: $tablet-width) {
    background: #edeff6;
    margin-top: -37px;
    padding-bottom: 88px;
    border-radius: 0 0 55px 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -50px;
    padding-top: 97px;
    padding-bottom: 195px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      z-index: -1;
      background-color: #e2e5f2;
      border-radius: 20px;
      content: "";
      width: 198px;
      height: 285px;
      top: 192px;
      right: 107px;

      transform: translateX(33%);
    }

    @media (min-width: $desktop-width) {
      top: 292px;
      right: 387px;
      width: 446px;
      height: 300px;
    }
  }
}

.business-offer__title {
  position: relative;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 30px;
  width: 100px;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 61px;
    margin-left: 6px;
    padding-top: 60px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 122px;
  }

  &::after {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -145px;
    top: 20px;
    background: url("../img/rates@1x.png") no-repeat;
    background-size: cover;
    content: "";

    @media (min-width: $tablet-width) {
      right: 45px;
      top: 400px;
    }

    @media (min-width: $desktop-width) {
      width: 198px;
      height: 198px;
      position: absolute;
      right: 68px;
      top: 245px;
    }
  }
}

.business-offer__list {
  @include no-list;
  margin-bottom: 44px;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    padding: 0 10px 0 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 76px 0 74px;
    margin-bottom: 73px;
  }
}

.business-offer__list-item {
  position: relative;
  padding: 13px 25px 0 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: start;
    font-size: 28px;
    line-height: 1;
  }

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #ffa530;
    border-radius: 50%;
    text-align: center;
    right: 0;
    top: 18px;
    font-size: 16px;
    font-weight: normal;
    line-height: 0.88;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $basic-white;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 68px;
      height: 68px;
      top: 10px;
      left: 0;
      font-size: 21px;
    }
  }

  &:nth-child(2)::before {
    background-color: $special-yellow-dark;
  }

  &:nth-child(3)::before {
    background-color: $basic-yellow;
  }
}

.business-offer__service {
  padding-top: 13px;
  border-top: 1px solid #e1e3e9;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 64px;
    white-space: nowrap;
    overflow: hidden;
    width: 430px;
    text-overflow: ellipsis;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }

  &:last-child {
    border-bottom: 1px solid #e1e3e9;
  }
}

.business-offer__price {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 64px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    padding-right: 244px;
  }
}

.business-offer__link {
  position: relative;
  padding-left: 3px;
  margin-left: 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #132576;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    padding-left: 63px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 137px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    top: 5px;
    background: url("../img/user.svg") no-repeat;
    background-size: cover;
    content: "";

    @media (min-width: $tablet-width) {
      display: inline-flex;
      width: 68px;
      height: 68px;
      left: -22px;
      top: -25px;
      background: #e2e5f2 url("../img/user.svg") no-repeat center;
      background-size: 20px 20px;
      content: "";
      border-radius: 50%;

      @media (min-width: $desktop-width) {
        left: 47px;
      }
    }
  }
}
