.calendar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d9e6;
  border-top: 1px solid #d6d9e6;
  padding: 12px;
  margin-bottom: 18px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    padding: 12px 12px 20px 12px;
    margin-bottom: 38px;
  }
}

.calendar__name {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.calendar__item {
  position: relative;
}

.calendar__btn {
  position: absolute;
  top: 5px;
  width: 9px;
  height: 17px;
  border: none;
  background: url("../img/month-arrow-left.svg") no-repeat;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 34px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.1;
  }

  &--next {
    background: url("../img/month-arrow-right.svg") no-repeat;
    @media (min-width: $tablet-width) {
      right: 10px;
    }
  }
}

/* calendar-table */
.calendar-table {
  width: 100%;
  margin-left: 1px;
  margin-bottom: 22px;
  border-collapse: collapse;
}

.calendar-table__title-mobile {
@media (min-width: $tablet-width) {
display: none;
}
}

.calendar-table__title-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.calendar-table__week {
  text-decoration: none;
  color: $special-grey;
  font-weight: 300;

  &--end {
    color: #ff5c23;
  }
}

.calendar-table__day {
  width: 32px;
  height: 30px;
  border: 1px solid #d6d9e6;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 69px;
  }

  &:hover {
    border: 2px solid #ff5c23;
  }

  &--fill {
    color: $basic-white;
    background-color: $basic-blue-light;
  }

  &--active {
    background: #edeff6;
  }
}


.calendar-title {
  font-size: 14px;
  line-height: (18 / 14);
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &--disabled {
    opacity: 0.5;
  }

  &--fill {
    color: $basic-white;
  }
}

.calendar-table__day-desktop {
  display: none;

  &--period {
    display: none;
  }
}
