.calendar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d9e6;
  border-top: 1px solid #d6d9e6;
  padding: 10px;
  margin-bottom: 18px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    padding: 15px 12px 20px 12px;
    margin-bottom: 21px;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 24px 0;
    margin-top: 22px;
    margin-bottom: 1px;
  }
}

.calendar__name {
  position: relative;
  margin-left: -12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -2px;
  }
}

.calendar__item {
  position: relative;
}

.calendar__btn {
  position: absolute;
  top: 0;
  right: 6px;
  width: 9px;
  height: 17px;
  border: none;
  background: url("../img/month-arrow-left.svg") no-repeat;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 34px;
    right: -21px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.1;
  }

  &--next {
    right: -9px;
    background: url("../img/month-arrow-right.svg") no-repeat;

    @media (min-width: $tablet-width) {
      right: 10px;
    }

    @media (min-width: $desktop-width) {
      right: 3px;
    }
  }
}

.calendar-table {
  width: 103%;
  margin-left: -10px;
  margin-bottom: 25px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 18px;
    margin-left: -2px;
    margin-bottom: 59px;
  }
}

.calendar-table__title {
  padding-bottom: 12px;
}

.calendar-table__title-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.calendar-table__title-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: 19px;
  }
}

.calendar-table__week {
  margin-left: 9px;
  text-decoration: none;
  color: $special-grey;
  font-weight: 300;

  &--end {
    color: #ff5c23;
  }
}

.calendar-table__day {
  position: relative;
  width: 32px;
  height: 30px;
  border: 1px solid #d6d9e6;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 142px;
    height: 71px;
    text-align: left;
    padding-left: 16px;
  }

  &--fill {
    position: relative;
    color: $basic-white;
    background-color: $basic-blue-light;

    &:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #ff5c23;

      @media (min-width: $tablet-width) {
        border: 3px solid #ff5c23;
      }
    }
  }

  &--active {
    position: relative;
    background: #edeff6;

    &:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #ff5c23;

      @media (min-width: $tablet-width) {
        border: 3px solid #ff5c23;
      }
    }
  }
}

.calendar-title {
  font-size: 14px;
  line-height: (18 / 14);
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &--disabled {
    opacity: 0.5;
  }

  &--fill {
    position: relative;
    color: $basic-white;
  }
}

.calendar-table__day-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    opacity: 0.3;
  }

  &--period {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      opacity: 1;
    }
  }
}
