.calendar {
  @include no-list;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d9e6;
  border-top: 1px solid #d6d9e6;
  padding: 10px;
  margin: 25px 0 18px;

  @media (min-width: $tablet-width) {
    padding: 23px 7px 25px;
    margin-bottom: 21px;
    margin-top: -24px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 24px 0;
    margin-top: 22px;
    margin-bottom: -8px;
  }
}

.calendar__name {
  position: relative;
  margin-left: -12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -2px;
  }
}

.calendar__item {
  position: relative;
}

.calendar__btn {
  position: absolute;
  top: 0;
  right: 6px;
  width: 9px;
  height: 17px;
  border: none;
  background: url("../img/month-arrow-left.svg") no-repeat;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 34px;
    right: -21px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.1;
  }

  &--next {
    right: -9px;
    background: url("../img/month-arrow-right.svg") no-repeat;

    @media (min-width: $tablet-width) {
      right: 10px;
    }

    @media (min-width: $desktop-width) {
      right: 3px;
    }
  }
}
