.companion {
  position: relative;
  background-color: $basic-white;
  margin-bottom: 8px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    border-radius: 20px;
  }
}

.companion:hover .companion__photo {
  transform: scale(1.05) translateY(-7px);
}

.companion__link {
  overflow: hidden;
}

.companion__photo {
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
    border-radius: 20px;
  }
}

.companion__wrapper {
  border-radius: 25px;
  padding: 0 30px;
  background-color: $basic-white;
}

.companion__property {
  position: absolute;
  margin: 0;
  padding: 18px;
  z-index: 2;
  top: 10px;
  left: 18px;
}

.companion-property-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 5px 0 0 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.companion-property-level svg {
  transform: scale(1.7) translate(12px, 12px);
}

.companion__property-title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: $basic-white;
}

.companion-property-level__value {
  position: relative;
  z-index: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: $basic-white;
  border-top: 1px solid $basic-white;
}

.companion__property-progress-bar {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 60px;
  height: 60px;

  &--99 {
    stroke-dasharray: 170, 170;
  }

  &--80 {
    stroke-dasharray: 150, 150;
  }
}

.companion__wish-list {
  @include no-list;

  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 10px;
  margin-left: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-bottom: 12px;
  }
}

.companion__wish-list-item {
  margin-right: 28px;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.companion__title {
  margin-left: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: (22/ 24);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion__hashtags {
  font-weight: normal;
  font-size: 16px;
  line-height: (18 / 16);
  text-align: center;
  color: $special-grey;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: (23 /20);
    margin-bottom: 30px;
  }
}

.companion__list-prefer {
  @include no-list;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.companion__list-prefer-item {
  position: relative;
  width: 33px;
  height: 33px;
}

.companion__list-prefer-icon {
  fill: $basic-blue;
}

.companion__list-prefer-hint {
  display: none;
  position: absolute;
  bottom: -60px;
  z-index: 100;

  transform: translate(-30%, 0);

  white-space: nowrap;
}

.companion__list-prefer-item:hover .companion__list-prefer-hint {
  display: table;
  margin: 0;
  padding: 15px 20px;
  height: 57px;

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: $basic-white;
  border-radius: 4px;
  background-color: $basic-blue-light;
}
