.companions {
  position: relative;
  z-index: 4;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 80px;
  margin-top: -30px;
  background: $basic-medium-blue;

  @media (min-width: $tablet-width) {
    padding-top: 130px;
    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 409px 100px, 40px 420px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    background-position: 309px 400px, 450px 170px;
  }
}

.companions__title {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  &::after {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: -1;
      content: "";
      height: 212px;
      width: 212px;
      top: -38px;
      left: -60px;
      background: #141b3b;
      border-radius: 20px;
    }
  }
}

.companions__container {
  padding-bottom: 65px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 52px;
    padding-bottom: 100px;
  }
}

.companions__text-wrapper {
  @media (min-width: $tablet-width) {
    width: 430px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 190px;
  }
}

.companions__description {
  width: 217px;
  margin-left: 26px;
  margin-bottom: 62px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 28px;
    line-height: (34 / 28);
  }
}

.companions__description--thesis {
  @media (min-width: $tablet-width) {
    width: 427px;
    margin-bottom: 49px;
  }
}

.companions__description--tagline {
  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 21px;
    line-height: (24 / 21);
  }
}

.companions__list {
  @include no-list;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.companions__to-all {
  position: relative;
  padding: 22px 130px 22px 22px;
  border-radius: 10px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding-right: 444px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 140px;
    left: 80px;
    width: 220px;
    padding: 29px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 10%;
    width: 10px;
    height: 10px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;
  }
}
