.companion {
  position: relative;
  background-color: $basic-white;
  width: 270px;
  margin-bottom: 15px;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.companion:hover .companion__photo {
  transform: scale(1.05) translateY(-7px);
}

.companion__link {
  overflow: hidden;
}

.companion__photo {
  border-radius: 10px;
}

.companion__wrapper {
  border-radius: 25px;
  padding: 0 40px;
  background-color: $basic-white;
}

.companion__property {
  position: absolute;
  margin: 0;
  padding: 18px;
  z-index: 2;
  top: 10px;
  left: 18px;

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 1px;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
  }
}

.companion__property-title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: $basic-white;
}

.companion-property-level__value {
  position: relative;
  z-index: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: $basic-white;
  border-top: 1px solid $basic-white;
}

.companion__wish-list {
  @include no-list;

  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 7px;
}

.companion__wish-list-item {
  margin-right: 14px;
}

.companion__title {
  margin-left: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.companion__hashtags {
  font-weight: normal;
  font-size: 16px;
  line-height: (18 / 16);
  text-align: center;
  color: $special-grey;
  margin-bottom: 18px;
}

.companion__list-prefer {
  @include no-list;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-left: 30px;
}

.companion__list-prefer-item {
  position: relative;
  margin-right: 20px;
}

.companion__list-prefer-icon {
  fill: $basic-blue;
}

.companion__list-prefer-hint {
  display: none;
  position: absolute;
  bottom: -60px;
  z-index: 100;

  transform: translate(-30%, 0);

  white-space: nowrap;
}

.companion__list-prefer-item:hover .companion__list-prefer-hint {
  display: table;
  margin: 0;
  padding: 15px 20px;
  height: 57px;

  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: $basic-white;

  border-radius: 4px;
  background-color: $basic-blue-light;
}
