.companions {
  position: relative;
  z-index: 4;
  border-radius: 0 0 25px 25px;
  padding-top: 80px;
  margin-top: -30px;
  background-color: $basic-medium-blue;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
    margin-top: -50px;
    padding-top: 147px;
    padding-bottom: 70px;
    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top 15% right 15%, top 47% left 6%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 152px;
    padding-bottom: 10px;
    background-position: 309px 400px, 450px 170px;
  }
}

.companions__title {
  position: relative;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }

  &::after {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: -1;
      content: "";
      height: 212px;
      width: 212px;
      top: -38px;
      left: -60px;
      background: #141b3b;
      border-radius: 20px;
    }
  }
}

.companions__container {
  padding-bottom: 48px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 92px;
  }
}

.companions__text-wrapper {
  @media (min-width: $tablet-width) {
    width: 430px;
    margin-bottom: 60px;
    padding-left: 10px;
  }
}

.companions__description {
  width: 217px;
  margin-left: 26px;
  margin-bottom: 56px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: (34 / 28);
  }
}

.companions__description--thesis {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 427px;
    margin-bottom: 40px;
  }
}

.companions__description--tagline {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: (24 / 21);
  }
}

.companions__list {
  @include no-list;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 285px 285px;
    padding: 0 34px;
    gap: 50px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
    padding: 37px 0;
  }
}

.companions__to-all {
  position: relative;
  padding: 22px 130px 22px 22px;
  border-radius: 10px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 23px 444px 22px 23px;
    font-size: 24px;
    margin-left: 34px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 130px;
    left: 95px;
    width: 280px;
    padding: 29px;
    border-radius: 20px;
  }
}
