.contacts-list {
  @include no-list;
}

.contacts-list__link {
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-yellow;
  text-decoration: none;
}

@media(min-width:$tablet-width){
  .contacts-list__link {
    @include tablet-text;
  }
  .contacts-list__number{
margin-bottom: 39px;
  }
}

@media(min-width:$desktop-width){
  .contacts-list{
    display: flex;
    justify-content: space-between;
  }
}
