.contacts-list {
  @include no-list;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 30px;

  @media (min-width: $desktop-width) {

    justify-content: space-between;
  }
}



.contacts-list__link {
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-yellow;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 1;
  }
}

.contacts-list__item {
  margin-bottom: 23px;

}

.contacts-list__number {
  padding-left: 55px;
  position: relative;
  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  &::before {
    position: absolute;
    content:"";
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    background: #121936 url("../img/contacts-phone.svg") center no-repeat;
    background-size: 18px;
    border-radius: 50%;
  }
}

.contacts-list__mail {
 padding-left:55px;
  position: relative;
  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  &::before {
    position: absolute;
    content:"";
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    background: #121936 url("../img/contacts-mail.svg") center no-repeat;
    background-size: 18px;
    border-radius: 50%;
  }
}
