.country__wrapper {
  background: $basic-white;
  border-radius: 10px;
}

.country__name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.country__description {
  font-weight: 500;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special-grey;
  opacity: 0.3;
}

.country__followers {
  line-height: (20 / 16);
  color: $basic-blue;
  opacity: 0.3;
}

@media(min-width:$tablet-width){
  .country__wrapper{
  width: 400px;
  }
  .country__name{
    font-size: 24px;
    line-height: 1;
  }
  .country__description,.country__followers{
    font-size: 20px;
    line-height: 1;
  }
}
