.country__wrapper {
  background: #ffffff;
  border-radius: 10px;
}

.country__name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.country__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.3;
}

.country__followers {
  line-height: 20px;
  color: #161c35;
  opacity: 0.3;
}
