.country-filter {
  background-color: #e2e5f2;
  color: $basic-blue;
  position: relative;
  z-index: 2;
  margin: -40px auto 0;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
    margin: -60px auto 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0 0 60px 60px;
  }
}

.country-filter__toggle-text--open {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -8px;
    right: 0;

    @media (min-width: $tablet-width) {
      width: 32px;
      top: 3px;
      right: -55px;
    }
  }
}

.country-filter__toggle-text--close {
  position: relative;
  display: none;

  @media (min-width: $tablet-width) {
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    top: -7px;
    left: -10px;

    @media (min-width: $tablet-width) {
      top: 2px;

      left: 115px;

      width: 20px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 2px;
      left: 139px;
    }
  }
}

.country-filter__toggle-text--close span,
.country-filter__toggle-text--open span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-flex;
  }
}

.country-filter__toggle--show .country-filter__toggle-text--close {
  display: flex;
}

.country-filter__toggle--show .country-filter__toggle-text--open,
.country-filter-popup__alphabet-wrapper--desktop .country-filter__toggle-text--open {
  display: none;
}
