.country-filter {
  background-color: #e5e5e5;
  color: $basic-blue;
}

.country-filter-popup__mobile-title {
  position: relative;
  padding-left: 19px;
  font-size: 16px;
  line-height: (16 / 18);
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    background: url(../img/filter.svg) no-repeat;
    background-position: center;
    top: 3px;
    left: 0;
  }
}

.country-filter-popup__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

.country-filter-popup__list {
  @include no-list;

  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.country-filter-popup__alphabet-wrapper--open .country-filter-popup__list {
  display: block;
}

.country-filter__toggle {
  order: 3;
  position: relative;
  width: 29px;
  height: 20px;
  border: none;
  background-color: inherit;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/dots.svg) no-repeat;
    background-position: center;
    top: 0;
    left: 0;
  }
}

.country-filter-popup__alphabet-wrapper--closed {
  display: none;
}
.country-filter-popup__alphabet-wrapper--open {
  display: block;
}

.country-filter-popup__country-list {
  @include no-list;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country-filter-popup__country-name {
  text-decoration: none;
  font-size: 16px;
  color: $special-grey;
}

.country-filter-popup__close-btn {
  width: 100%;
  padding: 12px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #192144;
  text-transform: uppercase;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #D6DAED;

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 20px 0px;
  }
}
