.country-filter {
  background-color: #e2e5f2;
  color: $basic-blue;
  position: relative;
  z-index: 2;
  margin: -40px auto 0;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
    margin: -60px auto 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0 0 60px 60px;
  }
}

.country-filter-popup__wrapper {
  padding: 58px 5px 12px 2px;
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #e2e5f2;

  @media (min-width: $tablet-width) {
    padding: 90px 34px 45px;
    margin-bottom: 6px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 36px 23px;
    flex-wrap: nowrap;
  }

  &--desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.country-filter-popup__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.country-filter-popup__mobile-title {
  order: 1;
  position: relative;
  font-size: 16px;
  line-height: (16 / 18);
  text-transform: uppercase;
  margin: 0;
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 20px;
    margin-right: 31px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    background: url("../img/filter.svg") no-repeat;
    background-position: center;
    top: 3px;
    left: 0;

    @media (min-width: $desktop-width) {
      top: 1px;
      left: -16px;
      width: 23px;
      height: 15px;
    }
  }
}

.country-filter-popup__list {
  @include no-list;
  order: 3;
  padding-top: 30px;
  padding-left: 23px;
  margin-bottom: -2px;

  @media (min-width: $tablet-width) {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    display: flex;
    justify-content: flex-start;
  }
}

.country-filter-popup__list--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.country-filter-popup__item {
  margin-bottom: 9px;

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.country-filter-popup__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $basic-blue;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--current {
    opacity: 1;
  }
}

.country-filter__toggle {
  order: 2;
  position: relative;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: $basic-medium-blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 179px;
    margin-right: 17px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.country-filter__toggle-text--open {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -8px;
    right: 0;

    @media (min-width: $tablet-width) {
      width: 32px;
      top: 3px;
      right: -55px;
    }
  }
}

.country-filter__toggle-text--close {
  position: relative;
  display: none;

  @media (min-width: $tablet-width) {
    padding-right: 38px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/close.svg");
    top: -7px;
    left: -19px;

    @media (min-width: $tablet-width) {
      top: 2px;

      left: 115px;

      width: 20px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 2px;
      left: 155px;
    }
  }
}

.country-filter__toggle-text--close span,
.country-filter__toggle-text--open span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-flex;
  }
}

.country-filter__toggle--show .country-filter__toggle-text--close {
  display: flex;
}

.country-filter__toggle--show .country-filter__toggle-text--open,
.country-filter-popup__alphabet-wrapper--desktop .country-filter__toggle-text--open {
  display: none;
}

.country-filter-popup__alphabet-wrapper--closed {
  display: none;
  height: 100px;
}

.country-filter-popup__country-list {
  @include no-list;
  padding-left: 28px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.country-filter-popup__country-item {
  margin-bottom: 4px;
}

.country-filter-popup__country-name {
  text-decoration: none;
  font-size: 16px;
  color: $special-grey;
}

.country-filter-popup__close-btn {
  width: 100%;
  padding: 12px;
  padding-bottom: 7px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: $basic-medium-blue;
  font-size: 16px;
  line-height: (20 / 16);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #d6daed;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    height: 100px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    height: auto;
    width: 100%;
    padding: 40px 0;
    margin-top: 58px;
  }
}

.country-filter-popup__close-text {
  position: relative;
  padding-left: 25px;

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 12px;
    top: 2px;
    left: -1px;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 2px;
      left: 0;
    }
  }
}
