.directions {
  padding-top: 70px;
  background: $basic-grey-light;
}

.directions-description {
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $special-grey;
}

.directions__list {
  @include no-list;
}

.directions__show-all-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
}

@media (min-width: $tablet-width) {
}
@media (min-width: $desktop-width) {
  .directions__container {
    display: flex;
    justify-content: space-between;
  }
  .directions__list {
    margin-right: 20px;
    order: -1;
  }
  .directions__list-item {
    display: flex;
    margin-bottom: 10px;
  }
  .directions__list-item img {
    order: 2;
  }
}
