.directions {
  margin-top: -20px;
  border-radius: 0 0 20px 20px;

  position: relative;
  z-index: 5;

  padding-top: 68px;
  padding-bottom: 51px;
  background: #edeff6;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
    margin-top: -50px;
    padding-top: 82px;
    padding-bottom: 82px;
    padding-left: 10px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: bottom 78% right 45px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 40% 60%;
      background-position: top 26% right 7%, top 32% left 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 170px;
    padding-bottom: 80px;
    padding-left: 55px;
    background-position: top 95% right 88px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 30% 70%;
      background-position: top 56% right 7%, top 32% left 0;
    }
  }
}

.directions__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.directions img {
  @media (min-width: $tablet-width) {
    width: 185px;
    height: 140px;
  }
}

.directions__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }
}

.directions__description {
  width: 201px;
  margin-left: 24px;
  margin-bottom: 62px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $special-grey;

  @media (min-width: $tablet-width) {
    width: 288px;
    margin-bottom: 70px;
    font-size: 28px;
    line-height: (33 / 28);
  }
}

.directions__list {
  @include no-list;
  margin-bottom: 48px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      bottom: 1px;
      left: 0;
      width: 717px;
      height: 121px;
      box-shadow: inset 0 -74px 38px -17px #edeff6;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      height: 141px;
      width: 141px;
      top: -38px;
      left: -10px;
      background: #e2e5f2;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      left: -60px;
      top: -71px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 107px;
    order: -1;
    margin-top: 30px;
  }
}

.directions__show-all-btn {
  position: relative;
  padding: 21px 141px 20px 24px;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.6;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 616px;
    margin-left: 25px;
    padding: 28px 29px;
    font-size: 24px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 130px;
    right: 300px;
    width: 275px;
  }
}
