.instruction__list {
  @include no-list;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 365px 325px;
    margin-bottom: 94px;
    margin-top: -129px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: -245px;
    display: flex;
  }
}

.instruction__list-item {
  display: flex;
  justify-content: space-between;
  padding: 22px 24px 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue;
  border-radius: 15px 15px 0 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 29px 20px 25px 30px;
    font-size: 24px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 365px;
    padding: 27px 35px 32px;
    margin: 0;
    border-radius: 20px 0 0 20px;
  }

  &--choose {
    background: $special-orange;

    @media (min-width: $desktop-width) {
      padding: 31px 42px 32px 32px;
      width: 390px;
    }
  }

  &--learn {
    margin-top: -16px;
    background: #ffa530;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-left: -22px;
    }

    @media (min-width: $desktop-width) {
      border-radius: 20px 0 0 20px;
      padding-left: 27px;
      width: 424px;
      margin-left: -21px;
    }
  }

  &--find {
    margin-top: -14px;
    background: $special-yellow-dark;

    @media (min-width: $tablet-width) {
      margin-top: -5px;
      padding: 22px 35px 27px;
      border-radius: 0 0 0 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-left: -23px;
      padding: 27px 36px 27px 32px;
      width: 417px;
      border-radius: 20px 0 0 20px;
    }
  }

  &--enjoy {
    padding: 27px 27px 24px;
    margin-top: -18px;
    background: $basic-yellow;
    border-radius: 10px;

    @media (min-width: $tablet-width) {
      margin-top: -5px;
      margin-left: -22px;
      border-radius: 0 0 20px 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding: 29px 19px 24px 37px;

      border-radius: 20px;
    }
  }
}

.instruction__list-item--learn .instruction__list-text {
  @media (min-width: $desktop-width) {
    margin-right: 58px;
  }
}

.instruction__list-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    margin-bottom: 0;
  }
}

.instruction__list-number {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 15px;
    font-size: 24px;
  }
}
