
.instruction__list {
  @include no-list;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
}

}

.instruction__list-item {
  display: flex;
  justify-content: space-between;
  padding: 22px 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &--choose {
    background: $special-orange;
  }

  &--learn {
    margin-top: -16px;
    background: #ffa530;
  }

  &--find {
    margin-top: -16px;
    background: $special-yellow-dark;
  }

  &--enjoy {
    margin-top: -16px;
    background: $basic-yellow;
  }

  @media (min-width: $tablet-width) {
    width: 284px;
    margin: 0;
    padding: 27px 33px 65px;
    font-size: 24px;
    line-height: 1;

    &--learn {
    margin-left: -26px;
  }

    &--enjoy {
      margin-left: -26px;
    margin-top: -16px;
    }

    &--find {
    margin-top: -16px;
    }
  }
}

.instruction__list-text {
  margin: 0;
  width:152px;
}

.instruction__list-number {
  color:$basic-white;
}
