.list-prefer {
  @include no-list;
  padding-bottom: 3px;
  padding-top: 17px;
  padding-left: 14px;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 12px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    flex-direction: row;
    margin-left: 60px;
    padding-top: 23px;
    padding-left: 14px;
  }
}
