.list-prefer {
  @include no-list;
  padding-bottom: 13px;
  padding-top: 10px;
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    flex-direction: row;
    margin-left: 60px;
  }
}
