.main-intro__container {
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 78px 130px, center -122px;
  background-size: auto, cover;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
  }
}

.main-intro__title {
  margin-left: 1px;
  margin-bottom: 258px;
  font-weight: bold;
  font-size: 36px;
  line-height: (40 / 36);
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-bottom: 86px;
    font-size: 60px;
    line-height: (70 / 60);
  }
}

.main-intro__wrapper {
  margin: 0 auto;
}

.main-intro__authorize {
  margin-left: 82px;
  padding: 9px 29px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-intro {
  @media (min-width: $tablet-width) {
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 70% 240px, left 0px;
    background-size: auto, cover;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
  }
}
