.main-nav {
  display: none;
  position: relative;
  width: auto;
  min-height: 51px;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__list {
  @include no-list;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 30px;
  height: 20px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    order: 2;
    top: 2px;
    right: -10px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before {
    margin-top: -10px;
    margin-bottom: 5px;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: $basic-white;
    border-radius: 2px;
  }

  &::after {
    margin-top: 0;
    margin-bottom: 5px;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: $basic-white;
    border-radius: 2px;
  }
}

.main-nav__social-list {
  @include no-list;
  display: flex;
}

.main-nav__user-list {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
