.main-nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  position: relative;
  z-index: 2;
  display: block;
  width: 40px;
  height: 30px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 13px;
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff;

    @media (min-width: $tablet-width) {
      left: 45px;
      background-color: #cccccc;
      box-shadow: 0 8px 0 0 #cccccc;
    }
  }
}

.main-nav__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 390px;
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.main-nav__auth {
  @include no-list;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $basic-blue;
  }
}

.user-list__link {
  @media (min-width: $tablet-width) {
    padding: 16px 28px;
    border-radius: 25px;
  }
}

.main-nav__social-list {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__site-list {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav-show {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 70%;
  }
}
