.main-intro {
  padding-top: 12px;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, left top;
}

.main-intro__title {
  margin-bottom: 245px;
  font-weight: bold;
  font-size: 36px;
  line-height: (40 / 36);
  text-align: center;
  color: $basic-white;
}
.main-intro__wrapper {
  margin: 0 auto;
}

.main-intro__authorize {
  font-weight: bold;
  font-size: 17px;
  line-height: (20 / 17);
  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
}

@media (min-width: $tablet-width) {
  .main-intro {
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
  }
  .main-intro__authorize {
    display: none;
  }
  .main-intro__title {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 86px;
    font-size: 60px;
    line-height: (70 / 60);
  }
}

@media (min-width: $desktop-width) {
  .main-intro {
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
  }
  .main-intro__container {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
  }
  .main-intro__authorize {
    display: none;
  }
}
