.map-wrapper {
  width: 320px;
  height: 340px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 606px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 526px;
  }
}

.no-js .map-wrapper {
  display: none;
}
