.map {
  position: relative;
  margin-top: -20px;
  height: 313px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 514px;
  }

  @media (min-width: $desktop-width) {
    height: 439px;
  }
}

.map__img {
  width: 100%;
  height: 320px;

  @media (min-width: $tablet-width) {
    height: 581px;
  }

  @media (min-width: $desktop-width) {
    height: 464px;
  }
}
