.map {
  margin-top: -20px;
  width: 100%;

  @media (min-width: $tablet-width) {
  
  }

  @media (min-width: $desktop-width) {

  }
}

.map__img {
  display:none;
  width: 100%;
  height: 320px;

  @media (min-width: $tablet-width) {
    height: 481px;
  }

  @media (min-width: $desktop-width) {
    height: 464px;
  }
}


.no-js .map__img {
  display:block;
}
