.map {
  @include section-border-radius;

  padding: 40px 25px 34px;
  position: relative;
  background: $basic-yellow;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.map__address {
  display: block;
  margin-bottom: 52px;
  width: 143px;
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    @include tablet-text;
  }
}

.map__way-to {
  width: 340px;
  padding: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;
  border: 3px solid $basic-medium-blue;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}
