.mobile-popup--closed .mobile-nav-popup__nav {
  display: none;
}

.mobile-popup--open {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.mobile-nav-popup__nav {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: $basic-white;
  width: 320px;
  height: 568px;

  @media (min-width: $tablet-width) {
    top: 100px;
    width: 768px;
    height: auto;
  }
}

.mobile-popup--open .mobile-nav-popup__nav {
  display: block;
  margin: 0 auto;
}

.mobile-nav__list {
  @include no-list;
  padding-top: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
    margin-bottom: 169px;
  }
}

.mobile-popup--open .mobile-nav__list {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.mobile-popup--open .main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 30px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.mobile-popup--open .main-nav__toggle::before,
.mobile-popup--open .main-nav__toggle::after {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: $basic-white;
  z-index: 10;
  width: 24px;
  height: 3px;
  transition: transform 0.3s, margin 0.1s;
}

.mobile-popup--open .main-nav__toggle::before {
  transform: rotate(45deg);
}

.mobile-popup--open .main-nav__toggle::after {
  transform: rotate(-45deg);
  top: 10px;
}

.page-header__container--fixed .main-nav__toggle::after,
.page-header__container--fixed .main-nav__toggle::before {
  background-color: $special-grey;
}

.mobile-nav__item--auth {
  padding-top: 50px;
}

.mobile-nav__login {
  width: 270px;
    height: 50px;
border-radius: 30px;
    text-transform: uppercase;

    &::after {
      display: none;
    }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.mobile-nav__item {
  font-size: 30px;
  font-weight: 500;
  line-height: (36 /50);
  text-transform: uppercase;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: (71 / 60);
  }
}

.mobile-nav__link {
  text-decoration: none;
  color: $basic-blue;
  text-align: center;
}

.mobile-nav__buttons {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 25px;
}

.mobile-nav__buttons-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 60px;
  font-size: 16px;
  line-height: (18 / 16);
  font-weight: bold;
  color: #192144;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 1;
    margin: 0 auto;
    margin-bottom: 38px;
    width: 308px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 5px;
    background-color: $basic-blue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-image: url("../img/yellow-phone.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -15px;
      left: -45px;
    }
  }
}

.mobile-nav__buttons-link--email {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 5px;
    background-color: $basic-blue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-image: url("../img/yellow-mail.svg");
  }
}
