.nav-list {
  @include no-list;
  display: none;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 60px;
      height: 1px;
      top: 0;
      margin-right: 45px;
      background-color: $basic-white;
      content: "";
    }
  }
}

.nav-list__item {
  margin-right: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
}

.nav-list__link {
  text-decoration: none;
  color: $basic-white;
  position: relative;
  display: block;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-100%);
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav-list__link::before {
  position: absolute;
  top: 100%;
  content:attr(data-hover);
  color: #ffd74b;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page-header__container--fixed .nav-list__link {
  color: $basic-blue;
}

.page-header__container--fixed .nav-list::before {
  @media (min-width: $desktop-width) {
    background-color: $basic-blue;
  }
}
