.page-footer {
  position: relative;
  z-index: 4;
  margin-top: -28px;
  border-radius: 25px 25px 0 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    border-radius: 55px 55px 0 0;
  }

  &--catalog {
    position: relative;
    z-index: 6;

    @media (min-width: $tablet-width) {
      z-index: 4;
      margin-top: -85px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -95px;
    }
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 38px 25px 15px;

  @media (min-width: $tablet-width) {
    padding: 50px 40px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 40px 55px;
  }
}

.page-footer__logo {
  margin: 0 auto 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  border-top: 1px solid #f2f2f2;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
  }
}

.page-footer__copyright-desсription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: $special-grey;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-right: 23px;
  }
}
