.page-footer {
  position: relative;
  margin-top: -35px;
  border-radius: 25px 25px 0 0;
  background-color: $basic-white;
}

.page-footer--catalog {
  margin-top: 0;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding: 38px 25px 13px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin: 0 auto 38px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.logo__img {
  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright-desсription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: $special-grey;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
