.page-main-header {
  position: relative;
  z-index: 10;
  background-color: $basic-blue;
  padding-bottom: 0px;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
  }
}

.page-main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 22px;
  padding-bottom: 15px;
}

.page-main-header__title {
  margin: 0;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    font-size: 60px;
    padding-left: 28px;
    padding-bottom: 60px;
  }

  &::after {
    height: 5px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -16px;
    background-color: $special-orange;
    border-radius: 2.4px;
    content: "";
  }
}

.page-main-header__link {
  position: relative;
  padding-right: 100px;
  padding-top: 10px;
  display: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: 30%;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("../img/return.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
