.page-header {
  top: 0;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    left: 0;
    right: 0;
  }
}

.page-header__container {
  width: 320px;
  padding: 32px 25px 14px 25px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 44px 40px 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 100px;
    padding-top: 49px;
  }
}

.page-header__container--catalog {
  padding: 18px 25px 27px 25px;

  @media (min-width: $tablet-width) {
    padding: 48px 44px 27px 35px;
  }
}

.page-header__container--fixed {
  left: 0;
  right: 0;
  z-index: 20;
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 0;
  }
}

.page-header__wrapper {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0 auto;
  }
}

.page-header img {
  width: 100px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
    margin-right: 35px;
  }
}
