.page-main-header {
  position: relative;
  z-index: 10;
  background-color: $basic-blue;
  padding-bottom: 0;
  padding-top: 70px;
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 55px 55px;
    padding-top: 122px;
  }
}

.page-main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 22px;
  padding-bottom: 15px;
}

.page-main-header__title {
  margin: 0;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    font-size: 60px;
    padding-left: 28px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 49px;
    padding-left: 68px;
  }

  &::after {
    height: 5px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -16px;
    background-color: $special-orange;
    border-radius: 2.4px;
    content: "";

    @media (min-width: $desktop-width) {
      left: 60px;
    }
  }
}

.page-main-header__link {
  position: relative;
  padding-right: 94px;
  padding-top: 10px;
  display: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus{
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }

  &::after {
    content: "";
    position: absolute;
   top: 49%;
    right: 33px;
    width: 32px;
    height: 16px;
    margin-top: -11px;
    background-image: url("../img/return.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}
