.page-footer {
  padding-top: 38px;
  padding-bottom: 14px;
  background-color: $basic-white;
}

.page-footer__copyright-desсription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: $special-grey;
}
