.pagination-list {
  @include no-list;
  position: relative;
  display: flex;
  background-color: $basic-white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 26px 20px 24px 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 71%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    left: 138px;
    top: 0;
    background-color: #edeff6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.pagination-list__item {
  display: block;
  height: 50px;
  border-radius: 20px;
  width: 50%;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    margin-right: -11px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:nth-last-child(3) {
    @media (min-width: $tablet-width) {
      margin-right: auto;
    }
  }
}

.pagination-list__link {
  display: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active:not(.pagination-list__link--current) {
    background-color: $basic-yellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 1;

    @media (min-width: $tablet-width) {
      height: 40px;
      width: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $basic-blue-light;
    text-decoration: none;
  }

  &--current {
    background-color: $basic-yellow;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      height: 48px;
    }
  }

  &--back {
    position: relative;
    width: 50px;
    height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 150px;
      width: 14px;
      height: 18px;
      background: url("../img/triangle-arrow-left.svg") no-repeat;

      @media (min-width: $tablet-width) {
        width: 11px;
        height: 20px;
        top: 18px;
        right: 21px;
      }

      @media (min-width: $desktop-width) {
        right: 15px;
      }
    }
  }

  &--next {
    position: relative;
    width: 50px;
    height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 60px;
      width: 14px;
      height: 18px;
      background: url("../img/triangle-arrow-right.svg") no-repeat;

      @media (min-width: $tablet-width) {
        width: 11px;
        height: 20px;
        top: 17px;
        right: 23px;
      }
    }
  }
}
