.pagination-list {
  @include no-list;
  position: relative;
  display: flex;
  background-color: $basic-white;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 180px;
    width: 26px;
    height: 26px;
    background: url("../img/triangle-arrow-left.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 20px;
      top: 45px;
      right: 90px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 50px;
    width: 26px;
    height: 26px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 20px;
      top: 45px;
      right: 45px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 24px 22px 24px 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 75%;
  }
}

.pagination-list__item {
  display: block;
  height: 50px;
  border-radius: 20px;
  width: 50%;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.pagination-list__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $basic-blue-light;
    text-decoration: none;
  }

  &--current {
    background-color: $basic-yellow;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
}
