.plan-filters__wrapper {
  background-color: $basic-white;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    padding: 38px 29px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 160px 105px;
    margin-bottom: 45px;
    border-radius: 60px;
  }

  &--last {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 204px;
      right: 254px;
      width: 21px;
      height: 287px;
      background-image: url("../img/line-country.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 270px;
        right: 31px;
        height: 274px;
        background-image: url("../img/line_country.svg");
      }

      @media (min-width: $desktop-width) {
        top: 400px;
        right: 211px;
      }
    }
  }
}

.plan-filters__content-wrapper {
  @media (min-width: $tablet-width) {
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 60px 133px;
  }
}

.plan-filters__form {
  margin-left: -9px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 24px;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 3px;
    width: 485px;
  }

  &--companions {
    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 3px;
    }
  }

  &--duration {
    @media (min-width: $desktop-width) {
      border-top: none;
    }
  }
}

.plan-filters__head {
  margin: 0;
  padding-top: 10px;
  margin-left: -8px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 40px;
  }
}

.plan-filters__head br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.plan-filters__description {
  color: $special_grey;
  margin-left: -9px;
  font-size: 16px;
  line-height: (22 / 16);
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: (24 / 20);
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
    padding-right: 405px;
    margin-bottom: 53px;
  }

  &--way {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-right: 110px;
      margin-bottom: 48px;
      border-bottom: 1px solid #e1e3e9;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 53px;
      padding-right: 405px;
      margin-bottom: 53px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        width: 1px;
        height: 407px;
        background-color: #e1e3e9;
        top: 70px;
        right: 125px;
      }
      @media (min-width: $desktop-width) {
        top: 100px;
        right: 155px;
      }
    }
  }
}

.plan-filters__list {
  @include no-list;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    float: right;
    margin-top: -70px;
  }

  &--current {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.plan-filters__list-item-link {
  position: relative;
  display: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-light;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: $basic-blue;
    top: -120px;
    right: -180px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -235px;
      right: 15px;
      width: 6px;
      height: 6px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      right: 164px;
    }
  }
}

.plan-filters__list-item {
  position: relative;
  margin-right: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 24px;
  }
}

.plan-filters__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    letter-spacing: 0;
  }
}

.plan-filters__measure {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    order: 3;
    letter-spacing: 0.08em;
    opacity: 1;
    font-weight: 500;
  }
}

.plan-filters__input {
  width: 99%;
  text-align: center;
  padding: 10px;
  color: $basic-blue-light;
  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  margin-top: 9px;
  margin-bottom: 21px;

  &:hover,
  &:focus {
    color: rgba(#000000, .7);
    outline: none;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    margin-left: 4px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
font-size: 20px;
    padding: 0;
    order: 2;
  } 
  
  &:last-child {
    @media (min-width: $desktop-width) {
          margin-left: 9px;
    }
  }
}

.plan-filters__input-number-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    order: 2;
    height: 70px;
    margin-bottom: 0;
  }
}

.plan-filters__toggle {
  position: absolute;
  top: 9px;
  width: 42px;
  height: 42px;
  opacity: 0.3;
  font-size: 30px;
  background-color: inherit;
  border: none;

  @media (min-width: $tablet-width) {
    top: 20px;
    font-size: 40px;
  }

  &--plus {
    left: 0;

    @media (min-width: $tablet-width) {
      left: 20px;
    }
  }

  &--minus {
    right: 0;

    @media (min-width: $tablet-width) {
      right: 20px;
    }
  }
}

.plan-filters__checkbox {
  display: none;
  position: absolute;
  appearance: none;
}

.plan-filters__label-checkbox {
  font-size: 15px;
  position: relative;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 50px;
    top: -244px;
  }

  @media (min-width: $desktop-width) {
    top: -125px;
    left: 620px;
  }

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #cbced9;
    border-radius: 4px;
    content: "";
    left: 0;

    &:hover,
  &:focus {
    border-color: rgba(#000000, .7);
    outline: none;
  }

    @media (min-width: $tablet-width) {
      top: -5px;
      width: 36px;
      height: 36px;
    }
  }
}

.plan-filters__checkbox:checked + .plan-filters__label-checkbox::before {
  background: url("../img/tick.svg") center/9px 9px no-repeat;
}

.plan-filters__select {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  &--country {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 17px;
      right: 45px;
      width: 8px;
      height: 8px;
      background-color: $basic-blue;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        width: 14px;
        height: 14px;
        bottom: 33px;
        right: 133px;
      }

      @media (min-width: $desktop-width) {
        right: 150px;
      }
    }
  }
}

.plan-filters__select--add {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 17px;
    right: 45px;
    width: 8px;
    height: 8px;
    background: #edeff6;
    border-radius: 50%;
    border: 1px solid #cbced9;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 14px;
      bottom: 33px;
      right: 133px;
    }

    @media (min-width: $desktop-width) {
      right: 150px;
    }
  }
}

.plan-filters__select--choose-country {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 17px;
    right: 45px;
    width: 8px;
    height: 8px;
    background-color: $basic-white;
    border-radius: 50%;
    border: 1px solid #cbced9;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 14px;
      bottom: 33px;
      right: 133px;
    }

    @media (min-width: $desktop-width) {
      right: 150px;
    }
  }
}

.plan-filters__title {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  color: $basic-blue-light;
  letter-spacing: 0.09em;

  &:hover {
    background-color: #dfe3f0;
  }

  &--bosnia {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 1px;
      right: 0;
      width: 67px;
      height: 48px;
      box-shadow: inset 0 -44px 48px 8px $basic-white;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 369px;
    flex-grow: 0;
    padding: 24px 20px;

    &--add {
      position: relative;
      background-color: #edeff6;
      flex-grow: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 641px;
  }
}

.plan-filters__button {
  display: flex;
  position: absolute;
  width: 16px;
  height: 12px;

  background: url("../img/month-arrow-left.svg") no-repeat;
  transform: rotate(-90deg);
  opacity: 0.3;
  border: none;
  right: 61px;
  top: 30%;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 24px;
    right: 210px;
    top: 32%;
  }

  &--add {
    display: flex;
    position: absolute;
    width: 16px;
    height: 12px;
    opacity: 0.3;
    border: none;
    right: 55px;
    top: 30%;
    background: url("../img/qty-plus-mobile.svg") no-repeat;

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 20px;
      right: 192px;
      top: 26%;
    }
  }
}

.plan-filters__select-flag {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 6px;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: "";
    bottom: -18px;
    left: -4px;
    width: 7px;
    height: 12px;
    background: url("../img/small-arrow.svg") no-repeat;
    opacity: 0.6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 47px;
    padding-top: 18px;
  }
}

.plan-filters__flag {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.plan-filters__select-btn-close {
  position: absolute;
  top: -10px;
  right: -2px;
  z-index: 1;
  width: 21px;
  height: 21px;
  border: 0;
  border-radius: 50%;
  background-color: #edeff6;
  background-image: url("../img/small-cross.svg");
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 23px;
    opacity: 0.3;
    border-radius: 0;
    width: 22px;
    height: 24px;
    background-size: 20px;
    background-color: inherit;
  }

  &--czech {
    @media (min-width: $tablet-width) {
      right: -35px;
    }

    @media (min-width: $desktop-width) {
      right: -55px;
    }
  }
}

.plan-filters__btn {
  display: block;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: (30 / 17);
  text-align:center;
  font-weight: bold;

  &::after {
    display:none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--submit {
    border: none;
    padding: 8px;
    margin: 0;
    font-size: 17px;
    
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    text-align:left;
    display: inline-block;
    font-size: 24px;
    padding: 22px;
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 19px;
    width: 280px;
  }

  &--submit--back {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-weight: bold;
      padding: 0;
      float: right;
      margin-top: 54px;
    }
  }
}

.plan-filters__comment-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-right: 30px;
  }
}

.plan-filters__comment-label {
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
  }
}

.plan-filters__flag--comment {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: -55px;
    top: 0;
  }
}

.plan-filters__comment {
  width: 100%;
  height: 220px;
  padding: 10px 14px;
  font-size: 16px;
  border-color: rgba(#000000, 0.3);

  &:hover {
    border-color: rgba(#000000, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #000000;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 14px;
    width: 500px;
    height: 142px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
    margin-bottom: 52px;
  }

  &::placeholder {
    color: rgba($special-grey, 0.5);
  }
}

.plan-filters__comment--last {
  margin-top: 15px;
  width: 100%;
  padding: 10px 14px;
  height: 220px;
  margin-bottom: 20px;
  border-color: rgba(#000000, 0.3);

  &:hover {
    border-color: rgba(#000000, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #000000;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 14px;
    font-size: 20px;
    line-height: (23 / 20);
    margin-top: 16px;
    width: 99%;
    height: 142px;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 90%;
  }

  &::placeholder {
    color: $special_grey;
  }
}

.plan-filters__comment--error {
  position: relative;
  border: 1px solid #F47E7E;

}


.plan-filters__title--modal-choose {
  position: relative;
  background-color: $basic-blue-light;
  color: $basic-white;
}
