.plans {
  position: relative;
  z-index: 3;
  background-color: #dfe3f0;
  font-weight: 500;
  color: $basic-blue-light;
  border-radius: 20px 20px 0 0;
  margin-top: -50px;
  padding-bottom: 80px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 30px 30px;
    padding-bottom: 105px;
  }
}

.plans__title {
  padding: 24px 1px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 53px 30px 47px;
  }
}

.plans__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    padding: 0 28px;
  }
}

.plans__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;


  padding: 24px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 40px 30px 15px 30px;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 43px;
  }
}

.plans__item-title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    padding: 0;
    margin: 0;

    margin-bottom: 34px;
    margin-right: auto;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: 36px;
  }
}

.plans__item-number {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.plans__text-wrapper {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 19px;
    letter-spacing: 0.1em;
    border-top: 1px solid #e5e5e5;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    align-self: baseline;
    font-size: 20px;
    border-top: none;
    letter-spacing: 0.09em;
    width: 60%;
  }
}

.plans__people-amount {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    margin-right: 32px;
  }
}

.plans__date {
  padding: 0;
  margin: 0;
  letter-spacing: 0.06em;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: -50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 116px;
  }
}

.plans__link {
  text-decoration: none;
  color: rgba(#000000, 0.3);
}
