.plans {
  background-color: rgb(223, 227, 240);
  color: $basic-blue;
}

.plans__list {
  @include no-list;
}

.plans__item {
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  background-color: $basic-white;
}

.plans__text-wrapper {
  text-transform: uppercase;
}

.plans-link {
  text-decoration: none;
  color: #e5e5e5;
}
