.plans {
  position: relative;
  z-index: 3;
  background-color: #d4d9eb;
  color: $basic-blue-light;
  border-radius: 20px 20px 0 0;
  margin-top: -50px;
  padding-bottom: 80px;

  @media (min-width: $tablet-width) {
    border-radius: 30px 30px 0 0;
  }
}

.plans__title {
  padding: 24px 1px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 49px 27px;
  }
}

.plans__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    padding: 0 28px;
  }
}

.plans__item {
  padding: 7px 21px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 43px;
  }
}

.plans__item-title {
  font-size: 16px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 24px;
  }
}

.plans__text-wrapper {
  color: #1d2e5b;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  padding-left: 3px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-left: 13px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-self: baseline;
    font-size: 20px;
    border-top: none;
    letter-spacing: 0.09em;
    width: 60%;
  }
}

.plans__people-amount {
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-right: 32px;
  }
}

.plans__date {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 116px;
  }
}

.plans__link {
  text-decoration: none;
  color: rgba(#000000, 0.3);
}
