.plan-filters__wrapper {
  background-color: $basic-white;
  margin-bottom: 9px;
  padding: 10px 10px 10px 23px;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    padding: 38px 29px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 87px 149px 86px;
    margin-bottom: 45px;
    border-radius: 60px;
  }

  &--last {
    position: relative;

    @media (min-width: $tablet-width) {
      margin-top: 50px;
      padding: 37px 33px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 29px;
      padding: 81px 145px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 197px;
      right: 240px;
      width: 21px;
      height: 287px;
      background-image: url("../img/line-country.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 270px;
        right: 31px;
        height: 274px;
        background-image: url("../img/line_country.svg");
      }

      @media (min-width: $desktop-width) {
        top: 360px;
        right: 379px;
      }
    }
  }
}

.plan-filters__content-wrapper {
  @media (min-width: $tablet-width) {
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 133px;
  }
}

.plan-filters__form {
  margin-left: -9px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 24px;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 3px;
    width: 485px;
  }

  &--companions {
    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 3px;
    }
  }

  &--duration {
    @media (min-width: $desktop-width) {
      border-top: none;
    }
  }
}

.plan-filters__head {
  margin: 0;
  padding-top: 12px;
  margin-left: -8px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
    margin: 0 0 31px -2px;
  }
}

.plan-filters__head br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.plan-filters__description {
  color: $special_grey;
  margin-left: -13px;
  font-size: 16px;
  line-height: (22 / 16);
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: (24 / 20);
    margin-bottom: 36px;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    max-width: 624px;
    margin-bottom: 55px;
  }

  &--way {
    position: relative;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding-bottom: 27px;
      padding-right: 110px;
      margin-bottom: 45px;
      border-bottom: 1px solid #e1e3e9;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 53px;
      margin-bottom: 35px;
      max-width: 550px;
      border: none;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        width: 1px;
        height: 407px;
        background-color: #e1e3e9;
        top: 71px;
        right: 136px;
      }

      @media (min-width: $desktop-width) {
        right: -227px;
        top: 99px;
      }
    }

    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 998px;
        height: 1px;
        bottom: 32px;
        left: 0;
        background-color: #e1e3e9;
      }
    }
  }
}

.plan-filters__description--entertainment {
  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
    margin-bottom: 17px;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 93px;
  }
}

.plan-filters__list {
  @include no-list;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    float: right;
    margin-top: -63px;
  }

  &--current {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.plan-filters__list-item-link {
  position: relative;
  display: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-light;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: $basic-blue;
    top: -120px;
    right: -180px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -235px;
      right: 15px;
      width: 6px;
      height: 6px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      right: 187px;
    }
  }
}

.plan-filters__list-item {
  position: relative;
  margin-right: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-right: 44px;
    font-size: 20px;
    line-height: 24px;
  }
}

.plan-filters__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    letter-spacing: 0;
    width: 170px;
    margin-left: 10px;
  }
}

.plan-filters__measure {
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    order: 3;
    letter-spacing: 0.08em;
    opacity: 1;
    font-weight: 500;
    width: 45px;
  }
}

.plan-filters__input {
  width: 220px;
  height: 43px;
  text-align: center;
  color: $basic-blue-light;
  font-family: inherit;
  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  margin-top: 9px;
  margin-bottom: 17px;
  border: 1px solid $light-grey;

  &:hover,
  &:focus {
    border-color: rgba(#000000, 0.7);
    outline: none;
  }

  &:active {
    outline: none;
    border-color: #000000;
  }

  @media (min-width: $tablet-width) {
    width: 531px;
    height: 70px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    width: 187px;
    order: 2;
  }
}

.plan-filters__input-number-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 162px;
    order: 2;
    height: 70px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  &:hover,
  &:focus {
    border-color: rgba(#000000, 0.5);
  }

  &:active {
    outline: none;
    border-color: #000000;
  }
}

.plan-filters__toggle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  width: 42px;
  height: 42px;
  opacity: 0.3;
  font-size: 30px;
  background-color: inherit;
  border: none;

  @media (min-width: $tablet-width) {
    top: 20px;
    font-size: 40px;
  }

  &--plus {
    left: 0;

    @media (min-width: $tablet-width) {
      left: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 24px;
    }
  }

  &--minus {
    right: 10px;

    @media (min-width: $tablet-width) {
      right: 20px;
    }

    @media (min-width: $desktop-width) {
      right: -5px;
    }
  }

  &:hover,
  &:focus {
    color: rgba(#000000, 0.7);
  }

  &:active {
    color: #000000;
  }
}

.plan-filters__checkbox {
  display: none;
  position: absolute;
  appearance: none;
}

.plan-filters__label-checkbox {
  font-size: 15px;
  position: relative;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: 50px;
    top: -244px;
  }

  @media (min-width: $desktop-width) {
    top: -118px;
    left: 763px;
  }

  &::before {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #cbced9;
    border-radius: 4px;
    content: "";
    left: -7px;
    top: -5px;

    @media (min-width: $tablet-width) {
      top: -5px;
      width: 36px;
      height: 36px;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: rgba(#000000, 0.1);
  }

  &:active::before {
    background-color: #e2e5f1;
  }
}

.plan-filters__checkbox:checked + .plan-filters__label-checkbox::before {
  background: url("../img/tick.svg") center/9px 9px no-repeat;
}

.plan-filters__select {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 923px;
    margin-left: 11px;
  }

  &--country {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 20px;
      right: 53px;
      width: 8px;
      height: 8px;
      background-color: $basic-blue;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        width: 14px;
        height: 14px;
        bottom: 33px;
        right: 133px;
      }

      @media (min-width: $desktop-width) {
        right: 150px;
      }
    }
  }
}

.plan-filters__select--add {
  position: relative;
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 17px;
    right: 51px;
    width: 8px;
    height: 8px;
    background: #edeff6;
    border-radius: 50%;
    border: 1px solid #cbced9;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 14px;
      bottom: 33px;
      right: 133px;
    }

    @media (min-width: $desktop-width) {
      right: 150px;
    }
  }
}

.plan-filters__select--choose-country {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 17px;
    right: 52px;
    width: 8px;
    height: 8px;
    background-color: $basic-white;
    border-radius: 50%;
    border: 1px solid #cbced9;

    @media (min-width: $tablet-width) {
      width: 14px;
      height: 14px;
      bottom: 33px;
      right: 133px;
    }

    @media (min-width: $desktop-width) {
      right: 150px;
    }
  }
}

.plan-filters__title {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid $light-grey;
  padding: 11px 10px;
  margin: 0;
  margin-left: -10px;
  flex-grow: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  color: $basic-blue-light;
  letter-spacing: 0.09em;

  &:hover {
    background-color: $blue-grey;
  }

  &--bosnia {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 1px;
      right: 0;
      width: 67px;
      height: 48px;
      box-shadow: inset 0 -44px 48px 8px $basic-white;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.1em;
    width: 369px;
    flex-grow: 0;
    padding: 24px 20px;

    &--add {
      position: relative;
      background-color: #edeff6;
      flex-grow: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 735px;
  }
}

.plan-filters__button {
  display: flex;
  position: absolute;
  width: 16px;
  height: 12px;

  background: url("../img/month-arrow-left.svg") no-repeat;
  transform: rotate(-90deg);
  opacity: 0.3;
  border: none;
  right: 69px;
  top: 25%;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    right: 191px;
    top: 32%;
  }

  @media (min-width: $desktop-width) {
    right: 226px;
  }

  &--choose {
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 191px;
    }

    @media (min-width: $desktop-width) {
      right: 226px;
    }
  }

  &--add {
    display: flex;
    position: absolute;
    width: 16px;
    height: 12px;
    opacity: 0.3;
    border: none;
    right: 15px;
    top: 42%;
    background: url("../img/qty-plus-mobile.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 20px;
      right: 192px;
      top: 26%;
    }

    @media (min-width: $desktop-width) {
      right: 222px;
      top: 26px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.plan-filters__select-flag {
  position: relative;
  border: 1px solid $light-grey;
  padding: 8px;
  border-radius: 4px;
  width: 63px;

  &--czech {
    width: 56px;

    @media (min-width: $tablet-width) {
      width: auto;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -18px;
    left: -4px;
    width: 7px;
    height: 12px;
    background: url("../img/small-arrow.svg") no-repeat;
    opacity: 0.6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 51px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    width: auto;
  }
}

.plan-filters__flag {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.plan-filters__select-btn-close {
  position: absolute;
  top: -11px;
  right: -6px;
  z-index: 1;
  width: 21px;
  height: 21px;
  border: 0;
  border-radius: 50%;
  background-color: #edeff6;
  background-image: url("../img/small-cross.svg");
  background-repeat: no-repeat;
  background-size: 6px;
  background-position: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 23px;
    opacity: 0.3;
    border-radius: 0;
    width: 22px;
    height: 24px;
    background-size: 20px;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    right: -58px;
  }

  &--czech {
    @media (min-width: $tablet-width) {
      right: -74px;
    }

    @media (min-width: $desktop-width) {
      right: -100px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.plan-filters__step {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.plan-filters__step-btn {
  margin: 0 -11px 15px;
  padding-left: 40px;
  width: 226px;
  height: 40px;
  border-radius: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 284px;
    height: 80px;
    border-radius: 20px;
    padding-left: 36px;
    margin-left: -3px;
    margin-bottom: 16px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
  }

  &::after {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      right: 10%;
      top: 44%;
    }
  }

  &--submit {
    margin-bottom: 15px;
    padding-left: 60px;
  }

  &--submit--back {
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      font-weight: bold;
      padding: 0;
      float: right;
      margin-top: 54px;
    }
  }
}

.plan-filters__comment-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-right: 30px;
  }
}

.plan-filters__comment-country {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-right: 89px;
  }
}

.plan-filters__comment-label {
  margin-top: -1px;

  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 30px;
  }
}

.plan-filters__flag-comment {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 47px;
  }
}

.plan-filters__comment {
  width: 100%;
  height: 220px;
  padding: 10px 14px;
  font-size: 16px;
  margin-left: -8px;
  margin-bottom: 28px;
  border-radius: 4px;
  border-color: rgba(#000000, 0.3);

  &:hover {
    border-color: rgba(#000000, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #000000;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 14px;
    width: 500px;
    height: 142px;
    margin-top: 33px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 74%;
    margin-left: 13px;
    margin-bottom: 30px;
  }

  &::placeholder {
    color: rgba($special-grey, 0.5);
  }
}

.plan-filters__comment--last {
  width: 100%;
  padding: 10px 14px;
  height: 220px;
  margin-left: -8px;
  margin-bottom: 20px;
  border-color: rgba(#000000, 0.3);

  &:hover {
    border-color: rgba(#000000, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #000000;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 14px;
    font-size: 20px;
    line-height: (23 / 20);
    width: 102%;
    height: 142px;
    margin-top: 39px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 74%;
    margin-left: 13px;
    margin-bottom: 53px;
  }

  &::placeholder {
    color: $special_grey;
  }
}

.plan-filters__comment--error {
  position: relative;
  border: 1px solid #f47e7e;
}

.plan-filters__title--modal-choose {
  position: relative;
  background-color: $basic-blue-light;
  color: $basic-white;
}
