.profile {
  position: relative;
  background-color: #edeff6;
  margin-top: -30px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    padding-top: 70px;
  }
}

.profile__container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 25px 65px;
  margin-top: -30px;

  @media (min-width: $tablet-width) {
    padding: 60px 75px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    padding: 80px 60px;
  }
}

.profile__photo {
  order: 2;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    order: 3;

    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 20;
    margin-top: 0;
    top: -142px;
    right: 154px;
    width: 190px;
    height: 190px;
  }
}

.profile img {
  width: 100px;
  height: 100px;
  margin-right: 17px;
  margin-top: 4px;
  border-radius: 50%;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0 0;
  }
}

.profile__wrapper--hashtags {
  position: relative;
  order: 4;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 5;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 732px;
    margin-left: 55px;
    margin-bottom: 76px;
  }
}

.profile__hashtags {
  position: relative;
  font-weight: 400;
  color: $special-grey;
  opacity: 0.6;
  background-color: transparent;
  resize: none;
  padding: 22px 30px 30px 25px;
  border-radius: 10px;
  border: 1px solid #cbced9;
  margin-bottom: 30px;

  &:hover {
    border-color: rgba(#000000, 0.5);
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #000000;
    color: #000000;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 35px;
    padding-bottom: 11px;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 39px 24px;
    margin-bottom: 25px;
  }
}

.profile__label {
  position: absolute;
  top: -10px;
  left: 38%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1.13;
  color: $basic-blue;
  background-color: #edeff6;
  padding: 0 15px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: auto;
    top: 103px;
    left: 270px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 88px;
    left: 33px;
  }

  &--hashtags {
    @media (min-width: $tablet-width) {
      top: 81px;
      letter-spacing: 2px;
    }

    @media (min-width: $desktop-width) {
      top: 95px;
    }
  }
}

.profile__wrapper--transport {
  position: relative;
  width: 100%;
  order: 5;
  display: flex;
  margin-top: -5px;
  border: 1px solid rgb(203, 206, 217);
  padding: 15px 30px 10px 25px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: auto;
    padding: 26px 64px;
    margin-top: 17px;
    margin-left: -33px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 384px;
    margin: 0;
    margin-bottom: 105px;
  }
}

.profile__transport {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.profile__transport-item {
  position: relative;
  background-color: $basic-white;
  width: 33px;
  height: 33px;
  border-radius: 50%;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    background-color: $light-grey;
  }

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.profile__label--transport {
  position: absolute;
  left: 48%;
  transform: translate(-50%, 0);
  background-color: #edeff6;
  padding: 0 15px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    bottom: 32px;
    left: 50%;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    bottom: 0;
    padding: 10px;
  }
}

.profile__transport-label {
  display: flex;
  width: 33px;
  height: 33px;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.profile__transport-label-icon {
  fill: $basic-blue-light;
  margin: auto;
}

.profile__transport-checkbox:focus + .profile__transport-label {
  opacity: 0.6;
}

.profile__transport-checkbox:checked + .profile__transport-label {
  opacity: 0.3;
}

.profile__property {
  order: 1;
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.profile-property-level {
  position: relative;
  margin-left: 18px;
  width: 100px;
  height: 100px;
  margin-top: 11px;
  padding-top: 8px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: -3px;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -111px;
    right: 350px;
    z-index: 20;
  }
}

.profile-property-level svg {
  transform: scale(2.8) translate(16px, 16px);
}

.profile-property-level__value {
  font-size: 38px;
  font-weight: 700;
  color: $basic-blue;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    margin-top: 16px;
    padding-bottom: 5px;
  }
}

.profile-property-level__lvl {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: $special-grey;
  width: 40px;
  border-top: 1px solid;

  @media (min-width: $desktop-width) {
    color: $basic-white;
    margin-left: 0;
    padding-top: 7px;
    margin-top: -6px;
  }
}

.profile__property-progress-bar {
  position: absolute;
  top: 4px;
  left: -1px;
  width: 60px;
  height: 60px;

  &--80 {
    stroke-dasharray: 150, 150;
  }
}

.profile__toggle {
  order: 3;
  width: 100%;
  color: $basic-blue;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: (18 / 20);
  background-color: $blue-grey;
  padding: 10px 20px 11px 0;
  border-radius: 30px;
  margin-bottom: 35px;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    order: 4;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 55px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    width: 189px;
    height: 47px;
    padding-left: 65px;
    right: 152px;
    top: 65px;
    border-radius: 0 0 10px 10px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.profile__toggle-change-text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
