.profile {
  background-color: #edeff6;
  margin-top: -30px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -50px;
    padding-top: 70px;
  }
}

.profile__container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 25px 65px;
  margin-top: -30px;

  @media (min-width: $tablet-width) {
    padding: 60px 75px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.profile__photo {
  order: 2;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 14;
    top: -280px;
    right: 95px;
  }
}

.profile img {
  width: 100px;
  height: 100px;
  margin-right: 17px;
  margin-top: 4px;
  border-radius: 50%;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
  }
}

.profile__wrapper--hashtags {
  position: relative;
  order: 4;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 5;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 732px;
  }
}

.profile__hashtags {
  position: relative;
  height: 90px;
  font-weight: 400;
  color: $special-grey;
  background-color: transparent;
  resize: none;
  padding: 22px 30px 15px 25px;
  border-radius: 10px;
  border: 1px solid #cbced9;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    height: 97px;
    padding: 35px;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 18px;
  }
}

.profile__label {
  position: absolute;
  top: -10px;
  left: 38%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1.13;
  color: $basic-blue;
  background-color: #edeff6;
  padding: 0 15px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 88px;
    left: 43%;
    font-size: 20px;
  }
}

.profile__wrapper--transport {
  position: relative;
  width: 100%;
  order: 5;
  display: flex;
  flex-direction: column;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: auto;
    margin-top: 25px;
    margin-left: -33px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 384px;
  }
}

.profile__transport {
  @include no-list;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(203, 206, 217);
  padding: 15px 30px 10px 25px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 18px 70px 24px 55px;
    margin-top: -10px;
  }
}

.profile-transport__item {
  position: relative;
  background-color: $basic-white;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.profile__label--transport {
  position: absolute;
  top: -10px;
  left: 30%;

  @media (min-width: $tablet-width) {
        top: 70px;
    left: 30%;
  }
}

.profile__property {
  order: 1;
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 260px;
    right: 380px;
    z-index: 2;
  }
}

.profile-property-level {
  margin-left: 18px;
  width: 100px;
  height: 100px;
  margin-top: 11px;
  padding-top: 8px;
  background-color: inherit;
  border: 3px solid #ff8d30;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
        margin-left: -6px;
        margin-top: 6px;
  }
}

.profile-property-level__value {
  font-size: 38px;
  font-weight: 700;
  color: $basic-blue;
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.profile-property-level__lvl {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: $special-grey;
  margin-left: 25px;
  padding: 2px 2px 0;
  border-top: 1px solid rgba($special-grey, 0.4);

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.profile__toggle {
  order: 3;
  width: 100%;
  color: $basic-blue;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  background-color: #dfe3f0;
  padding: 10px 20px 5px 15px;
  border-radius: 30px;
  margin-bottom: 35px;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    order: 4;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
