.promotion {
  padding-top: 100px;
  background: $basic-medium-blue;
}

.promotion__description {
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  text-align: center;
  color: $basic-white;
}

.promotion__description-link {
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  text-align: center;
  color: $basic-white;
  text-decoration: none;
}
.promotion__form-field{
  width:220px;
  padding:22px ;
}

@media(min-width:$tablet-width){

  .promotion__description,.promotion__description-link{
    font-size: 28px;
line-height: (28 / 32);
  }
  .promotion__form-field{
    width:536px;
    padding:28px ;
  }
}

@media(min-width:$desktop-width){

  .promotion__description,.promotion__description-link{
    font-size: 28px;
line-height: (28 / 31);
  }
  .promotion__form-field{
    width:800px;
    padding:28px ;
  }
}
