.promotion {
  margin-top: -50px;
  z-index: 2;
  position: relative;
  border-radius: 0 0 20px 20px;
  padding-top: 78px;
  background: $basic-medium-blue;

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 100px;
  }
}

.promotion__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 59px;
  }
}

.promotion__description {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 65px;
    font-size: 28px;
    line-height: (28 / 32);
  }

  @media (min-width: $desktop-width) {
    width: 616px;
    margin-bottom: 75px;
  }
}

.promotion__description--questions {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 28px;
    line-height: (28 / 32);
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.promotion__description-link {
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  text-align: center;
  color: $basic-yellow;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: (28 / 32);
  }
}

.promotion__description--break-line {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promotion__form {
  position: relative;
}

.promotion__form-field {
  width: 230px;
  padding: 22px;
  margin-bottom: 10px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 516px;
    padding: 28px;
    margin-bottom: 60px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-left: 132px;
  }
}

.promotion__button {
  border: none;
  border-radius: 20px;
  position: absolute;
  padding: 34px;
  right: 20px;
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    padding: 40px;
    right: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    height: 78px;
    padding: 36px;
    right: 220px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 35%;
    width: 14px;
    height: 16px;
    background: url("../img/triangle-arrow-right.svg") no-repeat;
  }
}

.promotion__button-text {
  display: none;
  color: $basic-blue-light;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    display: flex;
    line-height: 10px;
  }
}

.promotion__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promotion__popup-title {
  padding-top: 24px;
  text-align: center;
}
