.range__wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 30px;
  }
}

.range__output {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    background: $basic-white url("../img/qty-minus-mobile.svg") no-repeat;
    background-size: 30px 2px;
    background-position: 50%;
    width: 20px;
    height: 8px;
    top: 15px;
    right: 46%;
  }
}

.range__input::placeholder {
  font-size: 14px;
  line-height: (13 / 14);
  letter-spacing: 0.06em;
  color: $basic-blue-light;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.range__input {
  width: 110px;

  padding: 10px;
  border: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &--left {
    border-radius: 5px 0 0 5px;
  }

  &--right {
    border-radius: 0 5px 5px 0;
  }
}

.range__scale {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 26px;

  background-color: rgba($special-grey, 0.3);

  @media (min-width: $tablet-width) {
    left: 120px;
    position: absolute;
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
    width: 90%;
    background-color: rgba($special-grey, 0.3);
  }
}

.range__bar {
  position: absolute;
  left: 10px;
  width: 30%;
  height: 4px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.range__toggle {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 10px;
  margin-top: -5px;
  padding: 0;

  background-color: $basic-blue;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 65px;
    margin-top: 85px;
    margin-bottom: 0;
    width: 13px;
    height: 13px;
  }
}

.range__toggle--min {
  right: 145px;

  @media (min-width: $tablet-width) {
    right: 145px;
  }

  @media (min-width: $desktop-width) {
    right: 117px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;

    width: 144px;
    height: 3px;

    background-color: $basic-blue;

    @media (min-width: $tablet-width) {
      height: 3px;
      width: 144px;
      right: -190px;
    }

    @media (min-width: $desktop-width) {
      width: 124px;
    }
  }
}
