.range {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
  }
}

.range__wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 71px;

    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 2px;
    padding-left: 0;
  }
}

.range__output {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  margin-left: 0;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-right: 17px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    margin-top: 9px;
  }

  &::after {
    content: "";
    position: absolute;
    background: $basic-white url("../img/qty-minus-mobile.svg") no-repeat;
    background-size: 30px 2px;
    background-position: 50%;
    width: 20px;
    height: 8px;
    top: 15px;
    right: 46%;

    @media (min-width: $tablet-width) {
      right: 43%;
    }
  }
}

.range__input::placeholder {
  font-size: 14px;
  line-height: (13 / 14);
  letter-spacing: 0.06em;
  color: $basic-blue-light;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.range__input {
  font-family: inherit;
  width: 114px;

  padding: 8px;
  border: 1px solid #cbced9;

  &:hover,
  &:focus {
    border: 1px solid #959bb2;
  }

  &:active {
    border: 1px solid $basic-blue;
  }

  @media (min-width: $tablet-width) {
    width: 75px;
    padding: 14px 8px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
  }

  &--left {
    border-radius: 5px 0 0 5px;
  }

  &--right {
    border-radius: 0 5px 5px 0;
  }
}

.range__scale {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 15px;

  background-color: rgba($special-grey, 0.3);

  @media (min-width: $tablet-width) {
    width: 280px;
    margin-top: -13px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 8px;
    left: 10px;
    width: 90%;
    background-color: rgba($special-grey, 0.3);
  }
}

.range__bar {
  position: absolute;
  left: 10px;
  width: 30%;
  height: 4px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.range__toggle {
  position: absolute;
  top: 50%;
  right: 4px;

  width: 10px;
  height: 10px;
  margin-top: -5px;
  padding: 0;

  background-color: $basic-blue;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:active {
    width: 19px;
    height: 19px;
  }

  &:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }

  @media (min-width: $tablet-width) {
    margin-left: 65px;
    margin-bottom: 0;
    width: 13px;
    height: 13px;
  }

  @media (min-width: $desktop-width) {
    right: -4px;
  }
}

.range__toggle--min {
  right: 145px;

  @media (min-width: $tablet-width) {
    right: 205px;
  }

  @media (min-width: $desktop-width) {
    right: 117px;
  }

  &:hover,
  &:active {
    width: 19px;
    height: 19px;
  }

  &:active {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;

    width: 144px;
    height: 3px;

    background-color: $basic-blue;

    @media (min-width: $tablet-width) {
      height: 5px;
      width: 198px;
      right: -43px;
    }

    @media (min-width: $desktop-width) {
      width: 124px;
    }
  }
}
