.recommendation {
  padding: 28px 0;
}

.recommendation__description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;
}

.recommendation__author {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .recommendation__description {
    width: 264px;
    font-size: 28px;
    line-height: (32 / 28);
  }

  .recommendation__author {
    width: 264px;
    font-weight: bold;
    font-size: 21px;
    line-height: (25 / 21);
  }
}

@media (min-width: $desktop-width) {
  .recommendation {
    width: 264px;
    padding: 0;
    margin: 0;
  }

  .recommendation__description {
    margin-bottom: 20px;
  }
}
