.main-intro__recommendation {
  @media (min-width: $tablet-width) {
    margin-top: -215px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {


  }
}

.recommendation__wrapper {
  width: 165px;
  margin-left: 27px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {

    width: 40%;
    padding-left: 25px;
    padding-bottom: 185px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 294px;
    right: 0px;
top: 221px;

  }
}

.recommendation__description {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    width: 294px;
    font-size: 28px;
    line-height: (32 / 28);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.recommendation__author {
  font-style: normal;
  font-weight: bold;
  line-height: (22 / 16);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 21px;
    line-height: (25 / 21);
  }
}
