.social-list {
  @include no-list;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;

}

.social-list__link {
  display: block;
    width: 45px;
    height: 45px;
    position: relative;
    background-color: #ffd74b;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;

    &--fb {
      background-image: url("../img/facebook.svg");
      background-size: 11px 21px;
    }

    &--vk {
      background-image: url("../img/vk.svg");
      background-size: 23px 12px;
    }

    &--ig {
      background-image: url("../img/instagram.svg");
      background-size: 18px 18px;
    }
}
