.social-list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: -16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }

  &--nav {
        justify-content: center;
    margin-bottom: 28px;
  }
}

.social-list__link {
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $basic-yellow;
  background-repeat: no-repeat;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 62px;
    height: 62px;
  }
}

.social-icon {
  fill: $basic-blue;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 31px;
    height: 28px;
  }
}

.mobile-nav__social-list .social-list__link {
  background-color: $basic-white;
}
