.social-list {
  @include no-list;
  display: flex;
  margin-bottom: 38px;
  justify-content: center;
}


.social-list__link {
align-items: center;
  display: block;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: #ffd74b;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

  .social-icon {
    fill: $basic-blue;

  }

.mobile-nav__social-list .social-list__link {
  background-color: $basic-white;
}
