.tariffes {
  @include no-list;
  margin: 0 25px 40px;

  @media (min-width: $tablet-width) {
    margin: 0 90px 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 60px 17px;
  }
}

.tariffes__item {
  display: block;
  align-items: center;
  border-top: 1px solid rgba(#000000, 0.05);
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: (22 / 16);

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: (28 / 22);
    padding: 20px 0 15px;
  }
}

.tariffes__price,
.tariffes__text {
  margin: 0;
  color: $special-grey;
}
