.transport {
  @include no-list;
  padding-left: 4px;
  padding-top: 6px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
  }
}

.transport__item {
  display: flex;
  justify-content: center;
  background-color: $basic-white;
  width: 33px;
  height: 33px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.transport__label {
  display: flex;
  width: 33px;
  height: 33px;
}

.transport__checkbox {
  display: none;
  position: absolute;
  appearance: none;
}
.transport__label-icon {
  fill: $basic-blue-light;
  margin: auto;
}

.transport__checkbox:checked + .transport__label {
  opacity: .3;
}
