.transport {
  @include no-list;
  position: relative;
  display: flex;
      padding-top: 9px;
    padding-left: 0px;
    padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.transport__item {
  position: relative;
  background-color: $basic-white;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.transport__checkbox {
  display: none;
  position: absolute;
  appearance: none;
}

.transport__checkbox:checked + .transport__label {
  opacity: 0.5;
}

.transport__label {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

  &--plane {
    background: url("../img/plane.svg") no-repeat;
  }

  &--bicycle {
    background-image: url("../img/bike.svg");
  }

  &--bus {
    background-image: url("../img/bus.svg");
  }

  &--walk {
    background-image: url("../img/run.svg");
  }
}
