.transport {
  @include no-list;
  position: relative;
  display: flex;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
  }
}

.transport__item {
  display: flex;
  justify-content: center;
  background-color: $basic-white;
  width: 33px;
  height: 33px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.transport__label {
  position: relative;
  width: 33px;
  height: 33px;
}

.transport__checkbox {
  display: none;
  position: absolute;
  appearance: none;
}
.transport__label-icon {
margin: auto;
}


.transport__checkbox:checked  .transport__label-icon {
  fill: rgba($basic-blue, 0.3);
}
