.travellers__filter {
  background-color: $basic-yellow;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 28px;
}

.traveller-filter__title {
  width: 150px;
  padding-top: 26px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 21px;
  }
}

.traveller-filter-list {
  @include no-list;
  margin-bottom: 10px;
}

.traveller-filter-list__title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $basic-blue-light;
  border-top: 1px solid #f3c72b;
padding-top: 10px;

&::after {
  content: '>';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
}


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}

.traveller-filter__preferences {
  @include no-list;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.traveller-filter__option {
  margin: 0;
  padding: 0;
  border: none;
  display: none;

  &--active {
    display: flex;
  }
  
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.traveller-filter__option--open  .traveller-filter-list__title::after {
  content: '!';
}

.traveller-filter__option--open {
  display:flex;
}



.traveller-filter__label {
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: (20 / 15);

  &::before {
    display: block;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    background-color: $basic-white;
    border-radius: 2px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    font-size: 20;
    line-height: 1;
  }
}

.traveller-filter-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.traveller-filter__transport {
  @include no-list;
  display: flex;
}

.range__output {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 190px;
  margin-left: 0;
  margin-top: 10px;
}

.range__input::placeholder {
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.9;
  color: #1d2e5b;
  text-align: center;
  vertical-align: middle;

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.range__input {
  width:90px;
  border-radius:5px;
  padding: 10px;
  border:none;
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
}

.traveller-filter__btn {
  background-color: $basic-white;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 72px;
  border-radius: 25px;
  color: $basic-blue;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    padding: 17px 40px;
  }
}

.range__controls {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 26px;

  background-color: rgba(29, 46, 91, 0.2);
}

.range__toggle {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 10px;
  margin-top: -5px;
  padding: 0;

  background-color: $basic-blue;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.range__toggle--min {
  right: 145px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 144px;
    height: 2px;
    background-color: $basic-blue;
  }

}

.traveller-filter__btn {
  margin-left: 20px;
  margin-bottom: 20px;
}
