.traveller {
  padding: 14px 20px 19px 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  margin-bottom: 9px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 30px 20px 16px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 84px;
    margin-bottom: 35px;
    padding: 0;
    flex-wrap: nowrap;
  }

  &:nth-child(2) {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.16);
  }
}

.traveller__main-wrapper {
  display: flex;
  margin-right: auto;
  padding-left: 12px;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.traveller__info-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-top: -3px;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0 35px 45px 0;
  }
}

.traveller__photo {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    margin: 0;
  }
}

.traveller:hover .traveller__photo {
  transform: scale(1.05);
}

.traveller__link {
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-right: 17px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    margin-right: 30px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 100%;
    margin-right: 51px;
  }
}

.traveller__title {
  position: relative;
  width: 80px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 30px;
    line-height: 1;
    width: auto;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    margin-left: 23px;
    margin-bottom: 18px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &--offline {
    position: relative;

    &::after {
      font-size: 0;
      line-height: 0;
      color: transparent;

      background-color: #f97676;
      content: "";
      position: absolute;
      top: 8px;
      right: -5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 8px;
        right: 65px;
        width: 11px;
        height: 11px;
      }

      @media (min-width: $desktop-width) {
        top: 60px;
        right: 269px;
        width: 11px;
        height: 11px;
      }
    }
  }

  &--online {
    position: relative;

    &::after {
      font-size: 0;
      line-height: 0;
      color: transparent;

      background-color: #81e31e;
      content: "";
      position: absolute;
      top: 8px;
      right: -5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 8px;
        right: 45px;
        width: 11px;
        height: 11px;
      }

      @media (min-width: $desktop-width) {
        top: 60px;
        right: 269px;
        width: 11px;
        height: 11px;
      }
    }
  }
}

.traveller__likes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: -48px;

  width: 80px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 50px;
    width: 120px;
    margin-left: 131px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
    margin-left: 168px;
    width: 100px;
  }
}

.traveller__likes-follow {
  font-weight: bold;
  font-size: 14px;
  line-height: (16 / 14);
  text-transform: uppercase;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
  }
}

.traveller__likes-btn {
  border: none;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;
  opacity: 0.6;

  &--liked {
    background-image: url("../img/heart-active.svg");
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    background-size: 51px 51px;
    margin-right: 6px;
  }

  @media (min-width: $desktop-width) {
    top: 67%;
    right: 44%;
  }
}

.traveller__hashtags {
  width: 175px;
  padding: 0;
  margin: 12px 0 15px -80px;
  font-weight: normal;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special-grey;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0;
    width: 202px;
    font-size: 20px;
    line-height: (23 / 20);
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
    width: 242px;
  }
}

.traveller-property-country {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    margin-right: 84px;
  }
}

.traveller__prefers-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: absolute;
    right: -13px;
    bottom: 51px;
    width: 320px;
    order: 3;
  }
}

.traveller-property-transport {
  @media (min-width: $tablet-width) {
    margin-top: -12px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -50px;
    padding-left: 0;
  }
}

.traveller-property-level {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 29px;
    margin-left: 57px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 50px;
    right: 80px;
  }
}

.traveller-property-level svg {
  transform: scale(1.3) translate(12px, 12px);

  @media (min-width: $tablet-width) {
    transform: scale(1.7) translate(12px, 12px);
  }
}

.traveller__property-title {
  padding-left: 18px;
  padding-top: 7px;
  font-weight: normal;
  font-size: 15px;
  line-height: (16 / 14);
  color: $special-grey;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }

  &--transport {
    margin-top: -6px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--level {
    margin-top: -5px;

    @media (min-width: $tablet-width) {
      display: none;
      position: relative;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveller-property-level__value {
  position: relative;
  padding-top: 18px;
  padding-left: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    padding-left: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    padding-left: 0;
    margin-left: 30px;
  }
}

.traveller-property-level__lvl {
  width: 20px;
  display: none;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  color: rgba($special-grey, 0.3);
  border-top: 1px solid rgba($special-grey, 0.3);

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
  }
}

.traveller__property-progress-bar {
  position: absolute;
  bottom: 72px;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: -39px;
    left: -2px;
  }

  @media (min-width: $desktop-width) {
    top: 49px;
    left: 11px;
  }

  &--99 {
    stroke-dasharray: 170, 170;
  }

  &--80 {
    stroke-dasharray: 150, 150;
  }

  &--25 {
    stroke-dasharray: 60, 120;
  }

  &--50 {
    stroke-dasharray: 70, 120;
  }
}

.traveller__btn {
  width: 223px;
  height: 37px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 14px;
  margin-left: 16px;
  margin-bottom: 4px;
  padding-left: 74px;
  border-radius: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding: 5px 39px 3px;
    width: 150px;
    height: 50px;
    bottom: 108px;
    left: 237px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    bottom: 45px;
    left: 335px;
  }

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.traveller__btn-text {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 700;
    margin: auto;
  }
}

.traveller__property {
  font-size: 15px;
  line-height: (16 / 15);
}

.traveller__list-prefer-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #edeff6;
  padding: 6px;
  fill: rgba($basic-blue, 0.15);

  &--current {
    fill: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    background-color: inherit;
    border-radius: 0;
  }
}
