.travellers__filter {
  background-color: $basic-yellow;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 28px;
}

.traveller-filter__title {
  width: 150px;
  padding-top: 26px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
        margin-top: 38px;
        margin-bottom: 34px;
    font-size: 30px;
    line-height: 1;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 21px;
  }
}

.traveller-filter__list {
  @include no-list;
  margin-bottom: 10px;
}

.traveller-filter-list__item {

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.traveller-filter-list__title {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 5px;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  color: $basic-blue-light;
  border-top: 1px solid #f3c72b;
  padding-top: 10px;

  &::after {
    content: "";
    background: url("../img/triangle-arrow-right.svg") no-repeat;
    position: absolute;
    width: 10px;
    height: 6px;
    transform: rotate(90deg);
    top: 20px;
    right: 20px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
  }
}

.traveller-filter__preferences {

  @include no-list;

      padding-top: 3px;
      padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 520px;
    display: flex;
    margin-top: 38px;
    font-size: 20px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    flex-direction: column;
  }
}

.traveller-filter__preferences-item {
  margin-bottom: 7px;
  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

.traveller-filter__option {
  display: none;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveller-filter__option--open {
  display: flex;
}

.traveller-filter__option--open .traveller-filter-list__title::after,
.traveller-filter__option--active .traveller-filter-list__title::after {
  transform: rotate(-90deg);
}

.traveller-filter__label {
  margin-bottom: 16px;
  position: relative;
  font-size: 15px;
  line-height: (20 / 15);

  &::before {
    display: inline-block;
    margin-right: 9px;
    width: 18px;
    height: 18px;
    background-color: $basic-white;
    border-radius: 2px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.traveller-filter__transport {
  @include no-list;
  display: flex;
}

.range__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 30px;
  }
}

.range__output {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  &::after {
    content: "";
    position: absolute;
    background: $basic-white url("../img/qty-minus-mobile.svg") no-repeat;
    background-size: 30px 2px;
    background-position: 50%;
    width: 20px;
    height: 8px;
    top: 15px;
    right: 46%;
  }
}

.range__input::placeholder {
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.9;
  color: #1d2e5b;
  text-align: center;
  vertical-align: middle;

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.range__input {
  width: 110px;

  padding: 10px;
  border: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &--left {
    border-radius: 5px 0 0 5px;
  }

  &--right {
    border-radius: 0 5px 5px 0;
  }
}

.traveller-filter__btn {
  background-color: $basic-white;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 70px;
  border-radius: 25px;
  color: $basic-blue;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 40px;
    margin-bottom: 30px;
  }
}

.range__controls {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 18px;

  background-color: rgba(29, 46, 91, 0.2);

  @media (min-width: $tablet-width) {
    width: 40%;
    margin-left: 50px;
    margin-right: 80px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

.range__toggle {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 10px;
  margin-top: -5px;
  padding: 0;

  background-color: $basic-blue-light;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.range__toggle--min {
  right: 145px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 144px;
    height: 3px;
    background-color: $basic-blue-light;
  }
}
