.traveller {
  padding: 14px 20px 19px 6px;
  display: grid;
  grid-template-columns: 44% 56%;
  grid-template-rows: 42px 38px 14% 30% 20% 10% 10%;
  position: relative;
  border-radius: 20px;
  margin-bottom: 8px;
  background-color: $basic-white;

  &:nth-child(2) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 332px;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 39px 61px 1fr 1fr 1fr;
    margin-bottom: 40px;
    padding: 30px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 84px;
    margin-bottom: 35px;
    height: 285px;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: 70px 31px 1fr 1fr;
    padding: 0;
  }
}

.traveller__photo {
  margin-left: 10px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    margin: 0;
  }
}

.traveller__link {
  margin-right: 20px;
}

.traveller__title {
  margin-left: -9px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: $basic-blue-light;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-left: -26px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 30px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    margin-left: 26px;
  }

  &--offline {
    position: relative;

    &::after {
      font-size: 0;
      line-height: 0;
      color: transparent;

      background-color: #f97676;
      content: "";
      position: absolute;
      top: 8px;
      right: -5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 8px;
        right: 65px;
        width: 11px;
        height: 11px;
      }

      @media (min-width: $desktop-width) {
        top: 45px;
        right: 315px;
        width: 11px;
        height: 11px;
      }
    }
  }

  &--online {
    position: relative;

    &::after {
      font-size: 0;
      line-height: 0;
      color: transparent;

      background-color: #81e31e;
      content: "";
      position: absolute;
      top: 8px;
      right: -5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 8px;
        right: 45px;
        width: 11px;
        height: 11px;
      }

      @media (min-width: $desktop-width) {
        top: 45px;
        right: 315px;
        width: 11px;
        height: 11px;
      }
    }
  }
}

.traveller__likes {
  position: relative;
  padding-top: 7px;
  margin-left: -9px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  font-weight: bold;
  font-size: 14px;
  line-height: (16 / 14);
  text-transform: uppercase;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    padding-left: 160px;
  }

  @media (min-width: $desktop-width) {
    grid-column-end: 2;
    padding-left: 230px;
  }
}

.traveller__likes-btn {
  position: absolute;
  top: 13%;
  right: 63%;
  border: none;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: 31px 31px;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    background-size: 51px 51px;
    top: 51%;
    right: 34%;
  }

  @media (min-width: $desktop-width) {
    top: 64%;
    right: 42%;
  }
}

.traveller__hashtags {
  margin: 0;
  padding-left: 18px;
  padding-top: 4px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-weight: normal;
  font-size: 16px;
  line-height: (18 / 16);
  color: $special-grey;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-left: -24px;
    padding-top: 11px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    line-height: (23 / 20);
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
    padding-top: 26px;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.traveller-property-country {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  @media (min-width: $tablet-width) {
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.traveller-property-transport {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    padding-left: 60px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: $desktop-width) {
    margin-left: -50px;
    padding-left: 0;
    grid-row-start: 4;
  }
}

.traveller-property-level {
  position: relative;
  margin-left: 75px;
  border-radius: 50%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: -40px;
    margin-left: 75px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 50px;
    right: 80px;
  }
}

.traveller-property-level svg {
  transform: scale(1.3) translate(12px, 12px);
  @media (min-width: $tablet-width) {
    transform: scale(1.7) translate(12px, 12px);
  }
}

.traveller__property-title {
  padding-left: 18px;
  padding-top: 7px;
  font-weight: normal;
  font-size: 15px;
  line-height: (16 / 14);
  color: $special-grey;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }

  &--transport {
    margin-top: -6px;
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--level {
    margin-top: -5px;
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveller-property-level__value {
  position: absolute;
  margin-top: 21px;
  padding-left: 22px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    margin-top: -23px;
    padding-left: 9px;
  }
}

.traveller-property-level__lvl {
  width: 40px;
  margin-left: 11px;
  display: none;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  color: rgba($special-grey, 0.3);
  border-top: 1px solid rgba($special-grey, 0.3);

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 3px;
  }
}

.traveller__property-progress-bar {
  position: absolute;
  top: 18px;
  left: 3px;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: -42px;
    left: -13px;
  }

  @media (min-width: $desktop-width) {
    top: -15px;
    left: -2px;
  }

  &--99 {
    stroke-dasharray: 170, 170;
  }

  &--80 {
    stroke-dasharray: 150, 150;
  }

  &--25 {
    stroke-dasharray: 60, 120;
  }

  &--50 {
    stroke-dasharray: 70, 120;
  }
}

.traveller__btn {
  width: 223px;
  height: 37px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 14px;
  margin-left: 16px;
  margin-bottom: 13px;
  padding-left: 74px;
  border-radius: 25px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    margin-left: -25px;
    padding: 0;
    width: 150px;
    height: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    height: 50px;
    margin-left: 29px;
  }

  &::after {
    display: none;
  }
}

.traveller__btn-text {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 700;
    margin: auto;
  }
}

.traveller__property {
  font-size: 15px;
  line-height: (16 / 15);
}

.traveller__list-prefer-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #edeff6;
  padding: 6px;
  fill: rgba($basic-blue, 0.15);

  &--current {
    fill: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    background-color: inherit;
    border-radius: 0;
  }
}
