.travellers {
  position: relative;
  z-index: 0;
  margin: -40px auto 0;
  background: #edeff6;
  padding-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin: -60px auto 0;
  }
}

.travellers__wrapper {
  padding: 40px 2px 7px;

  @media (min-width: $tablet-width) {
    padding: 71px 2px 7px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 185px;
  }
}

.travellers__list {
  @include no-list;
  width: 100%;
}

.travellers__show-more {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: (30 / 17);
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px;
    margin-bottom: 36px;
    margin-left: -64px;
    font-size: 20px;
    line-height: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 58px;
    width: 17px;
    height: 17px;
    background: url("../img/qty-plus.svg") no-repeat;

    @media (min-width: $tablet-width) {
      top: 5px;
      left: 36%;
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      top: 29px;
      left: 39%;
    }
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.travellers__filter {
  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 44px 43px 43px 47px;
    margin: 0;
    order: 2;
    align-self: flex-start;
  }
}

.travellers__pagination {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-bottom: 114px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 132px;
  }
}
