.travellers {
  position: relative;
  z-index: 3;
  background: #e5e5e5;
  margin-top: -80px;;
  padding-top:180px;
}

.travellers__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.travellers__list {
  @include no-list;
  width: 100%;
}

.travellers__show-more {
  width: 100%;
  text-align:center;
  text-transform: uppercase;
  display:block;
  position: relative;
  padding-left: 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: (30 / 17);
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $desktop-width) {
    padding: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 26px;
    height: 26px;
    background: url("../img/qty-plus.svg") no-repeat;

    @media (min-width: $desktop-width) {
      top: 20px;
   left: 40%;
  }
  }
}

.travellers__filter {
  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 44px 43px 43px 47px;
    margin: 0;
    order: 2;
    align-self: flex-start;
  }
}
