.main-nav__user-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
  }
}

.user-list__login {
  width: 188px;
  height: 50px;
  border-radius: 30px;
  text-transform: uppercase;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: -5px;
    padding-left: 29px;
  }
}

.user-list__login-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

.user-list__button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &--email {
    display: none;
    background: $basic-yellow url("../img/topmenu-mail.svg") center/18px no-repeat;

    &:hover {
      background-color: $special-orange;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--tel {
    display: none;
    background: $special-orange url("../img/topmenu-phone.svg") center/18px no-repeat;

    &:hover {
      background-color: #f26926;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
