.wish-list {
  @include no-list;

  padding-top: 18px;
  padding-left: 15px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    overflow: hidden;
  }
}

.wish-list__item {
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.wish-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: (16 / 15);
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.wish-list__country-icon {
  transform: scale(0.74);

  @media (min-width: $tablet-width) {
    transform: scale(1);
  }
}

.wish-list__country-name {
  padding-left: 9px;

  @media (min-width: $desktop-width) {
    padding-left: 16px;
  }
}
