.wish-list {
  @include no-list;

  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.wish-list__link {
  font-weight: 500;
  font-size: 15px;
  line-height: (16 / 15);
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-light;
}
