.wish-list {
  @include no-list;

  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
  }
}

.wish-list__item {
  padding: 7px;

  @media (min-width: $tablet-width) {
    margin-right: 29px;
  }
}

.wish-list__link {
  font-weight: 500;
  font-size: 15px;
  line-height: (16 / 15);
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
