$basic-blue: #161c35;
$basic-white: #ffffff;
$basic-grey-light: #EDEFF6;
$basic-yellow: #FFD74B;
$special-yellow-dark: #FFBD30;
$special-grey-light: #DFE3F0;
$special-grey:#444444;
$basic-blue-light: #1D2E5B;
$special-orange: #FF8D30;
