$basic-blue: #161c35;
$basic-white: #ffffff;
$basic-grey-light: #ededd6;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$basic-medium-blue:#192144;
$special-orange: #ff8d30;
